//btn
.btn {
    font-size: 1.6rem;
    line-height: 1.5;
    text-transform: capitalize;
    border-radius: 0;
    border: 1px solid transparent;
    padding: 1rem 3rem;
    transition: all 0.3s ease;
    &:disabled {
        pointer-events: none;
    }
    &.btn-default {
        background: $clr-default;
        color: $clr-root;
        border-color: $clr-default;
        &:hover {
            background: transparent;
            color: $clr-default;
        }
    }
    &.btn-outline {
        border-color: #b6b6b6;
        color: $clr-default;
        &:hover {
            border-color: $clr-default;
        }
    }
    &.btn-link {
        padding: 0;
        border: none;
        color: $clr-link;
        &.del-btn {
            text-decoration: none;
            &:hover {
                color: $clr-dark;
            }
        }
    }
    &.btn-icon {
        padding: 1.2rem;
        background: $clr-root;
        .icon {
            font-size: 2rem;
            display: block;
            background-size: cover;
            &.icon-wishlist-o {
                color: #dcdcdc;
                &.active {
                    color: #ff0000;
                }
            }
            &.icon-cart {
                color: $clr-root;
            }
        }
        &.btn-default {
            background: $clr-default;
            &:hover {
                background: $clr-root;
                .icon {
                    &.icon-cart {
                        color: $clr-dark;
                    }
                }
            }
        }
    }
    &.btn-add {
        border: 1px solid #979797;
        color: $clr-default;
        font-size: 1.3rem;
        font-weight: $fnt-bold;
        line-height: 1.5;
        .icon {
            color: $clr-root;
            font-size: 1.2rem;
            position: relative;
            margin-right: 1rem;
            line-height: 1.5;
            &:after {
                content: '';
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                position: absolute;
                background: $clr-default;
                top: -0.4rem;
                left: -0.4rem;
                z-index: -1;
            }
        }
    }
    &.btn-icon-link {
        font-size: 1.2rem;
        .icon {
            font-size: 1.2rem;
            color: $clr-dark;
            margin-right: 0.8rem;
        }
        &:hover {
            text-decoration: none;
            color: $clr-dark;
            .icon {
                color: $clr-default;
            }
        }
    }
    &.btn-loader {
        text-indent: -9999px;
        position: relative;
        &:before {
            content: '';
            width: 1.6rem;
            height: 1.6rem;
            background: url('../images/loader1.gif')no-repeat 0 0 transparent;
            background-size: cover;
            position: absolute;
            // right: 0.7rem;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .btn {
        font-size: 1.2rem;
        line-height: 1.6rem;
        &.btn-icon {
            .icon {
                font-size: 1.2rem;
            }
        }
    }
}