//modal
.modal {
    text-align: center;
    padding: 0!important;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        &.modal-sm {
            width: 40rem;
            .modal-body {
                padding: 3rem 2rem;
            }
        }
    }
    .modal-content {
        border-radius: 0;
    }
    .modal-body {
        padding: 4rem 2rem;
    }
    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem 2rem;
    }
    &.typ-form {
        .form-control {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
        .input-label {
            font-size: 1.4rem;
            line-height: 1.8rem;
        }
        .modal-footer {
            text-align: center;
        }
        .modal-header {
            .form-title {
                font-size: 2.2rem;
                line-height: 2.6rem;
                font-weight: $fnt-bold;
                text-transform: capitalize;
            }
        }
        .bs-form {
            .form-group {
                margin-bottom: 3.5rem;
                &.last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .modal {
        .modal-body {
            padding: 5rem 1rem;
        }
        .modal-dialog {
            margin: 0;
        }
        &.mb-large {
            &:before {
                content: none;
            }
            .modal-dialog {
                width: 100%;
            }
            .modal-content {
                border: none;
            }
        }
        &.typ-form {
            &:before {
                content: none;
            }
            .modal-dialog {
                width: 100%;
                height: 100vh;
                .modal-content {
                    padding-top: 5.7rem;
                    box-shadow: none;
                    border: none;
                }
                .modal-header {
                    position: fixed;
                    top: 0;
                    left: 0;
                    right: 0;
                    background: $clr-root;
                }
                .modal-body {
                    height: calc(100vh - 12.6rem);
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding: 2rem 1rem;
                    width: 100vw;
                }
                .modal-footer {
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background: $clr-root;
                    padding: 20px 15px;
                }
            }
        }
        &.typ-message {
            .modal-dialog {
                &.modal-sm {
                    width: 90%;
                }
            }
        }
    }
    .close {
        span {
            font-size: 3rem;
        }
    }
}