@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?egz4j2');
    src: url('../fonts/icomoon.eot?egz4j2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?egz4j2') format('truetype'), url('../fonts/icomoon.woff?egz4j2') format('woff'), url('../fonts/icomoon.svg?egz4j2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
    content: "\e920";
}

.icon-agenda:before {
    content: "\e900";
}

.icon-award:before {
    content: "\e901";
}

.icon-call:before {
    content: "\e902";
}

.icon-cart:before {
    content: "\e903";
}

.icon-cross:before {
    content: "\e904";
}

.icon-edit:before {
    content: "\e905";
}

.icon-fb:before {
    content: "\e906";
}

.icon-filter:before {
    content: "\e907";
}

.icon-insta:before {
    content: "\e908";
}

.icon-kitchen:before {
    content: "\e909";
}

.icon-lab:before {
    content: "\e90a";
}

.icon-left-arrow-c:before {
    content: "\e90b";
}

.icon-left-arrow:before {
    content: "\e90c";
}

.icon-mail:before {
    content: "\e90d";
}

.icon-minus-c:before {
    content: "\e90e";
}

.icon-nowater:before {
    content: "\e90f";
}

.icon-office:before {
    content: "\e910";
}

.icon-pay:before {
    content: "\e911";
}

.icon-plus-c:before {
    content: "\e912";
}

.icon-plus:before {
    content: "\e913";
}

.icon-right-arrow-c:before {
    content: "\e914";
}

.icon-right-arrow:before {
    content: "\e915";
}

.icon-seasoning:before {
    content: "\e916";
}

.icon-sort:before {
    content: "\e917";
}

.icon-spa:before {
    content: "\e918";
}

.icon-square:before {
    content: "\e919";
}

.icon-support:before {
    content: "\e91a";
}

.icon-track:before {
    content: "\e91b";
}

.icon-trash:before {
    content: "\e91c";
}

.icon-user:before {
    content: "\e91d";
}

.icon-wishlist-o:before {
    content: "\e91e";
}

.icon-wishlist:before {
    content: "\e91f";
}