/* Variables.scss */


/* colors */

$clr-root: #ffffff;
$clr-base: #555555;
$clr-default: #ec9e31;
$clr-link: #e8a74c;
$clr-border:#d2d2d2;
$clr-error: #c1272d;
$clr-dark:#000000;
$clr-bg: #f5ede64a;
$clr-pallet1:#fffcf5;
$clr-pallet2:#fff2f3;
$clr-pallet3:#fafbfb;
$clr-pallet4:#f6fbfb;
$clr-pallet5:#fafaf4;
$clr-grey: #a5a5a5;

/* breakpoints */

$mobile-breakpoint: 768px;
$mobile-xs-breakpoint: 360px;
$mobile-sm-breakpoint: 480px;
$tab-breakpoint: 1024px;

/* font family */

$fnt2:'Italianno',
cursive;

/* font weight */

$fnt-light:300;
$fnt-regular:400;
$fnt-sm-bold:600;
$fnt-bold:700;
$fnt-ex-bold: 800;
$fnt-black:900;