/* element.scss */

html {
    font-size: 10px;
}

body {
    background: $clr-root;
    font-size: 1.4rem;
    line-height: 120%;
    font-family: 'Nunito', sans-serif;
    color: $clr-base;
    font-weight: $fnt-regular;
    overflow-x: hidden;
}

p {
    font-size: 1.5rem;
    line-height: 1.9;
    font-weight: $fnt-light;
    margin-bottom: 1rem;
}

a,
a:hover,
a:focus,
a:active {
    color: $clr-base;
    text-decoration: none;
    outline: none;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

button,
.btn {
    background: transparent;
    box-shadow: none;
    border: none;
    &:focus,
    &:active,
    &:active:focus {
        box-shadow: none;
        outline: none;
    }
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

button:focus,
button:active,
button:active:focus,
.btn:focus,
.btn:active,
.btn:active:focus {
    box-shadow: none;
}

.btn:active,
.btn.active {
    box-shadow: none;
}

textarea {
    resize: none;
    border-radius: 0;
}

@media only screen and (max-width: $mobile-breakpoint) {
    html {
        font-size: calc(10px + (13 - 10) * ((100vw - 320px) / (768 - 320)));
    }
}

@media only screen and (max-width: 720px) and (min-width:400px) {
    html {
        font-size: calc(12px + (13 - 10) * ((100vw - 320px) / (768 - 320)));
    }
}