//swiper
.swiper-pagination {
    left: 0;
    right: 0;
}

.swiper-pagination-bullet {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.5rem;
    border-radius: 0;
    &:last-child {
        margin-right: 0;
    }
}

.swiper-pagination-bullet-active {
    background: $clr-dark;
}