.cm-not-in-page {
    left: -99999px;
    position: absolute !important;
    top: -99999px;
}

.cm-line-break {
    display: block;
}

.lyt-content {
    overflow: hidden;
}

.cm-no-pad-top {
    padding-top: 0!important;
}

.cm-no-pad {
    padding-left: 0px;
    padding-right: 0px;
}

.cm-no-margin {
    margin-right: 0px;
    margin-left: 0px;
}

.cm-bold {
    font-weight: $fnt-bold!important;
}

.cm-text-default {
    color: $clr-default;
}

.cm-hidden {
    display: none !important;
}

.cm-pattern {
    position: relative;
    &:before {
        content: '';
        height: 400px;
        position: absolute;
        left: -100px;
        right: -100px;
        bottom: -200px;
        border-radius: 100%;
        background: $clr-root;
    }
}

.cm-play {
    width: 80px;
    height: 80px;
    background: $clr-root;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.08);
    &:before {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 0 20px 30px;
        border-color: transparent transparent transparent #362777;
        position: absolute;
        left: 57%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.addto {
    background-size: cover;
}

.cm-icon {
    width: 40px;
    height: 40px;
    display: block;
    &.icon-instagram {
        background: url('../images/icons/instagram.svg')no-repeat 0 0 transparent;
        background-size: cover;
    }
}

.cm-title {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: $fnt-bold;
    color: $clr-default;
    letter-spacing: 0px;
}

.cm-text-capital {
    text-transform: capitalize!important;
}

.cm-link {
    font-size: 11px;
    line-height: 13px;
    color: $clr-link;
    text-decoration: underline;
}

.cm-cursive {
    font-family: $fnt2;
}

.cm-icon-flag {
    width: 27px;
    height: 27px;
    display: inline-block;
    &.icon-ind {
        background: url('../images/flags/india.svg')no-repeat 0 0 transparent;
        background-size: cover;
    }
    &.icon-usa {
        background: url('../images/flags/usa.svg')no-repeat 0 0 transparent;
        background-size: cover;
    }
}

.cm-underline {
    text-decoration: underline;
}

.cm-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 7.5rem;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    z-index: 12;
    transition: all 0.4s ease-in;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.cm-text-center {
    text-align: center;
}

.container-sm {
    width: 70rem;
}

.cm-text-initial {
    text-transform: initial!important;
}

.cm-heart-pulse {
    -webkit-animation-name: heartBeat;
    animation-name: heartBeat;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.cm-error-text {
    font-size: 1.4rem;
    line-height: 1.3;
    background: $clr-error;
    color: $clr-root;
    padding: 0.6rem 2rem;
    margin-bottom: 1.5rem;
    border-radius: 0.3rem;
    display: block;
}

.cm-text-left {
    text-align: left!important;
}

@media screen and (max-width: $mobile-breakpoint) {
    .cm-overlay {
        top: 5.6rem;
    }
    .cm-pattern {
        &:before {
            height: 100px;
            left: -50px;
            right: -50px;
            bottom: -50px;
        }
    }
    .cm-no-pad-top {
        padding-top: 30px!important;
    }
    .cm-title {
        font-size: 14px;
        line-height: 18px;
    }
    .cm-link {
        &:active,
        &:hover {
            color: $clr-link;
            text-decoration: underline;
        }
    }
    .cm-mb-grad {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            background: rgba(255, 255, 255, 0);
            background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17) 17%, rgba(0, 0, 0, 1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(17%, rgba(255, 255, 255, 0.17)), color-stop(100%, rgba(0, 0, 0, 1)));
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17) 17%, rgba(0, 0, 0, 1) 100%);
            background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17) 17%, rgba(0, 0, 0, 1) 100%);
            background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17) 17%, rgba(0, 0, 0, 1) 100%);
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.17) 17%, rgba(0, 0, 0, 1) 100%);
            filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 )";
        }
    }
    .container-sm {
        width: 100%;
    }
    .cm-fly-action-wrap {
        padding: 1rem;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: $clr-root;
        text-align: center;
        -webkit-box-shadow: 0px -2px 13px -4px rgba(219, 219, 219, 1);
        -moz-box-shadow: 0px -2px 13px -4px rgba(219, 219, 219, 1);
        box-shadow: 0px -2px 13px -4px rgba(219, 219, 219, 1);
        z-index: 11;
        transition: all 0.3s ease;
        transform: translateY(120%);
        .btn {
            display: block;
        }
        &.active {
            transform: translateY(0);
        }
    }
}

.cm-loader {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.8);
        z-index: 3;
        display: none;
    }
    &:after {
        content: '';
        width: 5rem;
        height: 5rem;
        background: url('../images/loader.gif')no-repeat 0 0 transparent;
        background-size: cover;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
    &.active {
        &:before,
        &:after {
            display: block;
        }
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1)
    }
    20% {
        transform: scale(.8)
    }
    30% {
        transform: scale(.95)
    }
    45% {
        transform: scale(.75)
    }
    50% {
        transform: scale(.85)
    }
    100% {
        transform: scale(.9)
    }
}

@-webkit-keyframes heartBeat {
    0%,
    100%,
    50% {
        -webkit-transform: scale(1)
    }
    20% {
        -webkit-transform: scale(.8)
    }
    30% {
        -webkit-transform: scale(.95)
    }
    45% {
        -webkit-transform: scale(.75)
    }
}