// bs-tabs
.bs-tabs {
    .nav-tabs {
        border-bottom: none;
        li {
            margin-bottom: 0;
            .icon {
                font-size: 2.4rem;
                margin-right: 1rem;
                display: inline-block;
                vertical-align: middle;
                color: $clr-dark;
            }
            a {
                display: inline-block;
                vertical-align: middle;
                padding: 1rem 2.5rem;
                background-color: transparent;
                border-radius: 0;
                margin-right: 0;
                border: none;
                color: $clr-base;
                font-size: 1.4rem;
                line-height: 1.6rem;
                transition: all 0.4s ease-in-out;
                position: relative;
                &:focus,
                &:hover {
                    background-color: transparent;
                    color: $clr-dark;
                }
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -0.5rem;
                    width: 0%;
                    background-color: $clr-dark;
                    height: 3px;
                    left: 62%;
                    transform: translateX(-50%);
                    transition: all 0.4s ease-in-out;
                }
            }
            &.active,
            &:hover {
                a {
                    border: none;
                    background-color: transparent;
                    color: $clr-dark;
                    font-weight: $fnt-sm-bold;
                    &:before {
                        width: 30%;
                    }
                }
            }
        }
    }
    .tab-content {
        padding-top: 5rem;
    }
    .tab-select {
        display: none;
        padding: 0 2rem;
    }
    &.typ-lg {
        .nav-tabs {
            li {
                a {
                    font-size: 1.6rem;
                    line-height: 1.3;
                }
            }
        }
        .sec-head {
            .nav-tabs {
                margin-top: 2rem;
            }
        }
    }
    &.typ-sticky {
        .sec-head {
            padding: 1rem 0 1.5rem;
            background: $clr-root;
            left: 0;
            right: 0;
            position: fixed;
            top: 7.5rem;
            z-index: 5;
            transition: all 0.3s ease;
            box-shadow: 0 0 5px #e5e5e5;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-tabs {
        .tab-select {
            display: block;
        }
        &.typ-lg {
            .nav-tabs {
                li {
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
        }
        &.typ-sticky {
            .sec-head {
                top: 5.6rem;
            }
        }
    }
}