// bs-pd-fly
.bs-pd-fly {
    width: 70rem;
    top: 7.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    background: $clr-root;
    z-index: 13;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    &.open {
        transform: translateX(0);
        .fly-btn {
            .icon {
                &.icon-cross {
                    opacity: 1;
                }
                &.icon-square {
                    opacity: 0;
                }
            }
        }
    }
    .head-wrap {
        padding: 1.5rem 3.5rem;
        border-bottom: 1px solid rgba($color: #b7b7b7, $alpha: 0.3);
        background: $clr-root;
        .filter-wrap {
            .filter-label {
                font-size: 1.4rem;
                line-height: 1.8rem;
                display: inline-block;
                vertical-align: middle;
                margin-right: 2rem;
            }
            .bs-custom-select {
                width: 14.5rem;
                display: inline-block;
                vertical-align: middle;
                .select2-choice {
                    height: 3.6rem;
                    line-height: 3.6rem;
                }
            }
        }
    }
    .cont-wrap {
        height: calc(100% - 6.7rem);
        overflow-y: auto;
        .pd-list {
            display: flex;
            flex-wrap: wrap;
            .pd-item {
                width: 50%;
                border-right: 1px solid rgba($color: #b7b7b7, $alpha: 0.3);
                border-bottom: 1px solid rgba($color: #b7b7b7, $alpha: 0.3);
                padding: 2rem;
                .pd-img {
                    background: $clr-pallet4;
                }
                &:nth-of-type(even) {
                    border-right: none;
                    .pd-img {
                        background: $clr-pallet1;
                    }
                }
            }
            .mod-cart-pd {
                .pd-img {
                    width: 8.2rem;
                }
                .pd-detail {
                    padding: 0 1.5rem;
                    padding-right: 0;
                    width: calc(100% - 8.2rem);
                }
                .title-wrap {
                    .pd-title {
                        font-size: 1.4rem;
                        line-height: 1.8rem;
                    }
                    .bs-amount {
                        .amount-val {
                            font-size: 1.6rem;
                            line-height: 2rem;
                        }
                    }
                }
                .act-wrap {
                    margin-top: 2rem;
                }
                .btn-icon {
                    width: 3rem;
                    height: 3rem;
                    padding: 0.2rem;
                    margin-left: 1rem;
                    .icon {
                        font-size: 1.4rem;
                    }
                }
                .bs-custom-select {
                    .select2-arrow {
                        b {
                            padding-left: 0.8rem;
                        }
                    }
                }
            }
        }
    }
    .fly-btn {
        width: 5.5rem;
        height: 5.5rem;
        position: absolute;
        right: -5.5rem;
        top: 6.5rem;
        background: $clr-dark;
        .icon {
            color: $clr-default;
            transition: opacity 0.5s ease-in-out;
            font-size: 1.8rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &.icon-square {
                opacity: 1;
            }
            &.icon-cross {
                opacity: 0;
                color: $clr-root;
            }
        }
    }
    .pd-tab-content {
        display: none;
        &.active {
            display: block;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-pd-fly {
        top: 5.6rem;
        width: 28rem;
        .head-wrap {
            padding: 1.2rem 2rem;
        }
        .cont-wrap {
            .pd-list {
                .pd-item {
                    width: 100%;
                    border-right: none;
                    padding: 1.5rem;
                }
            }
        }
        .fly-btn {
            width: 3rem;
            height: 3rem;
            right: -3rem;
            .icon {
                font-size: 1.4rem;
            }
        }
    }
}