// bs-form
.bs-form {
    .input-label {
        display: block;
        color: $clr-dark;
        font-weight: $fnt-bold;
        text-transform: capitalize;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    .form-control {
        padding: 1rem 0;
        border: none;
        border-bottom: 0.5px solid #b6b6b6;
        font-size: 1.2rem;
        line-height: 1.6rem;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        height: auto;
        color: $clr-dark;
        &::placeholder {
            opacity: 0.4;
            color: $clr-dark;
            font-weight: $fnt-light;
        }
        &:focus {
            outline: none;
        }
    }
    textarea {
        &.form-control {
            border: 0.5px solid $clr-base;
        }
    }
    .bs-custom-select {
        .select2-default {
            color: $clr-dark!important;
            font-weight: $fnt-light;
            .select2-chosen {
                opacity: 0.4;
            }
        }
        .select2-choice {
            color: $clr-dark;
            font-size: 1.4rem;
            padding: 0;
        }
    }
    .form-group {
        margin-bottom: 4rem;
        position: relative;
        &.error {
            .error-msg {
                position: absolute;
                bottom: -1.8rem;
                left: 0;
                display: block;
            }
            .form-control {
                border-color: $clr-error;
            }
        }
        &.success {
            .error-msg {
                position: absolute;
                bottom: -1.8rem;
                left: 0;
                display: block;
                color: #198754;
            }
            .form-control {
                border-color: #198754 !important;
            }
        }
    }
    .error-msg {
        font-size: 1.2rem;
        line-height: 1.3;
        color: $clr-error;
        display: none;
    }
}

.input-group {
    display: block;
    position: relative;
    .form-control {
        border: none;
        padding: 1rem 4.5rem 1rem 0;
        font-size: 1.2rem;
        line-height: 1.6rem;
        border-bottom: 0.5px solid #b6b6b6;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        display: block;
        float: none;
        z-index: 0;
        &:focus,
        &.active,
        &:hover {
            outline: none;
            box-shadow: none;
        }
    }
    .input-btn {
        font-size: 1.2rem;
        line-height: 1.6rem;
        position: absolute;
        right: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .error-msg {
        font-size: 1.2rem;
        line-height: 1.3;
        color: $clr-error;
        display: none;
    }
    &.error {
        .error-msg {
            position: absolute;
            bottom: -1.8rem;
            left: 0;
            display: block;
        }
        .form-control {
            border-color: $clr-error !important;
        }
    }
    &.success {
        .error-msg {
            position: absolute;
            bottom: -1.8rem;
            left: 0;
            display: block;
            color: #198754;
        }
        .form-control {
            border-color: #198754 !important;
        }
    }
}

.radio-wrap {
    .bs-radiobox {
        display: inline-block;
        margin-right: 3rem;
        line-height: 4.4rem;
        &:last-child {
            margin-right: 0;
        }
    }
}

.chk-wrap {
    .bs-checkbox {
        margin-top: 1.8rem;
        line-height: 4.4rem;
    }
}