// bs-video-block
.bs-video-block {
    padding-bottom: 10rem;
    .video-info {
        position: relative;
        .info-wrap {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .img-wrap {
            height: 50rem;
            background-attachment: fixed;
        }
        .play-btn {
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
            background: url('../images/play-btn.png') center center no-repeat;
            background-size: cover;
            overflow: hidden;
            cursor: pointer;
            border: none;
            ;
        }
        &.typ-home {
            .info-wrap {
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .title {
                font-size: 5rem;
                line-height: 5.2rem;
                color: $clr-root;
                font-weight: $fnt-light;
                opacity: 0.8;
            }
            .play-btn {
                width: 6.5rem;
                height: 6.5rem;
                display: inline-block;
                vertical-align: middle;
            }
            .meta {
                font-size: 3.2rem;
                line-height: 3.6rem;
                color: $clr-root;
                display: inline-block;
                margin-left: 1.5rem;
                vertical-align: middle;
                font-weight: $fnt-light;
            }
        }
        &.typ-about {
            .info-wrap {
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70rem;
            }
            .title {
                font-size: 7rem;
                line-height: 7rem;
                text-align: center;
                color: $clr-root;
                margin-bottom: 4.5rem;
                .cm-cursive {
                    font-size: 4.8rem;
                    line-height: 5.2rem;
                }
            }
            .play-btn {
                display: block;
                margin: 0 auto 7rem;
            }
            .meta {
                text-align: center;
                .item {
                    position: relative;
                    display: inline-block;
                    margin-right: 10rem;
                    font-size: 1.6rem;
                    line-height: 2rem;
                    color: $clr-root;
                    &:last-of-type {
                        margin-right: 0;
                        &:before {
                            content: none;
                        }
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 6rem;
                        right: -8rem;
                        height: 0.1rem;
                        background: $clr-default;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-video-block {
        padding-bottom: 0;
        margin-bottom: 5rem;
        .video-info {
            .img-wrap {
                height: 30rem;
            }
            .play-btn {
                width: 5rem;
                height: 5rem;
            }
            &.typ-home {
                left: 0;
                right: 0;
                .info-wrap {
                    left: 0;
                    right: 0;
                    text-align: center;
                    padding-top: 7rem;
                }
                .title {
                    font-size: 2.6rem;
                    line-height: 3rem;
                    text-align: center;
                }
                .play-btn {
                    width: 5rem;
                    height: 5rem;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    margin: 0;
                }
                .meta {
                    font-size: 1.6rem;
                    line-height: 2rem;
                    display: block;
                    text-align: center;
                }
            }
            &.typ-about {
                .info-wrap {
                    left: 0;
                    right: 0;
                    width: 100%;
                    transform: translateY(-50%);
                    padding-top: 7rem;
                }
                .play-btn {
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                }
                .title {
                    font-size: 3.2rem;
                    line-height: 3.6rem;
                    margin-bottom: 2rem;
                    .cm-cursive {
                        font-size: 2.8rem;
                        line-height: 3.2rem;
                    }
                }
                .meta {
                    .item {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        margin-right: 4rem;
                        width: 9rem;
                        vertical-align: middle;
                        &:before {
                            width: 4rem;
                            right: -4rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .bs-video-block {
        .video-info {
            &.typ-about {
                .meta {
                    .item {
                        margin-right: 2rem;
                        &:before {
                            width: 4.5rem;
                            right: -3.5rem;
                        }
                    }
                }
            }
        }
    }
}