//bs-product
.bs-product {
    padding: 2rem;
    height: 28rem;
    position: relative;
    .pd-img-wrap {
        width: 12rem;
        margin: 0 auto 1rem;
        img {
            width: 100%;
        }
    }
    .pd-desc {
        display: none;
        p {
            font-size: 1.4rem;
            line-height: 1.2;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .pd-head {
        padding: 1rem 4rem;
    }
    .pd-title {
        font-size: 1.8rem;
        line-height: 1.5;
        text-transform: capitalize;
        color: $clr-dark;
        font-weight: $fnt-sm-bold;
    }
    .pd-cont {
        text-align: center;
        .pd-action {
            display: none;
        }
    }
    .pd-tag {
        font-size: 1.1rem;
        line-height: 1.3;
        color: $clr-root;
        background: $clr-dark;
        padding: 0.6rem 1rem;
        position: absolute;
        left: 0;
        top: 2rem;
        display: none;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1.5rem 0.6rem 0 0;
            border-color: $clr-dark transparent transparent transparent;
            position: absolute;
            top: 0;
            right: -0.6rem;
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1.5rem 0 0 0.6rem;
            border-color: transparent transparent transparent $clr-dark;
            position: absolute;
            bottom: 0;
            right: -0.6rem;
        }
    }
    .pd-btn-like {
        font-size: 2rem;
        color: #dcdcdc;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        background-size: cover;
        transition: none;
        z-index: 2;
        padding: 1rem 2rem;
        &.active {
            color: #ff0000;
        }
    }
    .pd-link {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    >.pd-action {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.92);
        transition: all 0.3s ease;
        border: 1px solid transparent;
        opacity: 0;
        z-index: -1;
        .action-wrap {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            text-align: center;
            transform: translateY(-50%);
            .btn {
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &.typ-tag {
        .pd-tag {
            display: block;
        }
    }
    &.typ-hero {
        padding: 3rem 0;
        height: 57.5rem;
        background: $clr-pallet1;
        .pd-img-wrap {
            width: 25rem;
            margin: 0 auto 3rem;
        }
        .pd-head {
            padding: 4rem 3rem 2rem;
            border-bottom: 1px solid $clr-border;
        }
        .pd-tag {
            font-size: 1.4rem;
            padding: 0.9rem 3.5rem;
            top: 3rem;
            &:after {
                border-width: 2rem 0 0 0.6rem;
            }
            &:before {
                border-width: 2rem 0.6rem 0 0;
            }
        }
        .pd-btn-like {
            top: 0;
            right: 0;
            font-size: 2.5rem;
            padding: 2rem 3rem;
        }
        .pd-desc {
            display: block;
        }
        .pd-cont {
            padding: 2.6rem 3rem;
            position: relative;
            z-index: 2;
            text-align: left;
            .pd-action {
                display: block;
                position: absolute;
                top: 50%;
                right: 3rem;
                transform: translateY(-50%);
                .btn {
                    margin-right: 0.8rem;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        .pd-title {
            font-size: 2rem;
            font-weight: $fnt-sm-bold;
        }
        .bs-amount {
            .amount-val {
                font-size: 2.4rem;
            }
            .amount-qty {
                font-size: 1.6rem;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-product {
        padding: 0 0 6rem 0;
        height: 30rem;
        .pd-head {
            padding: 4rem 2rem 0;
        }
        .pd-img-wrap {
            width: 9rem;
            margin: 0 auto;
        }
        .pd-desc {
            display: none;
        }
        .pd-cont {
            padding: 1rem 1.5rem;
        }
        >.pd-action {
            left: 0;
            right: 0;
            top: auto;
            bottom: 0;
            opacity: 1;
            z-index: 1;
            display: block;
            padding: 1rem 0;
            .action-wrap {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                transform: translateY(0);
                display: block;
                .btn {
                    &:first-child {
                        display: none;
                    }
                }
            }
        }
        .pd-title {
            font-size: 1.3rem;
            font-weight: $fnt-sm-bold;
        }
        .pd-tag {
            font-size: 1rem;
            padding: 0.5rem 0.9rem;
            top: 1.5rem;
        }
        .pd-btn-like {
            padding: 1.5rem;
        }
        &.typ-hero {
            height: auto;
            padding: 0;
            text-align: center;
            .pd-tag {
                font-size: 1.2rem;
                padding: 0.9rem 2.5rem;
            }
            .pd-head {
                padding: 8rem 3rem 0;
                border-bottom: none;
            }
            .pd-img-wrap {
                width: 17rem;
                margin: 0 auto 2rem;
            }
            .pd-cont {
                text-align: center;
                padding-top: 0;
                .bs-amount {
                    margin-bottom: 2rem;
                }
                .pd-action {
                    position: static;
                    top: auto;
                    right: auto;
                    transform: translateY(0);
                    text-align: center;
                }
            }
            .pd-title {
                font-size: 1.6rem;
            }
            .bs-amount {
                .amount-val {
                    font-size: 2rem;
                }
                .amount-qty {
                    font-size: 1.4rem;
                }
            }
            .pd-btn-like {
                padding: 3rem;
            }
            .pd-desc {
                display: none;
            }
        }
    }
}