// bs-radiobox
.bs-radiobox {
    input[type=radio] {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        margin: 0;
        // width: 0;
        // display: none;
        +label {
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-base;
            cursor: pointer;
            padding-left: 2rem;
            position: relative;
            transition: all 0.4s ease-in;
            text-transform: capitalize;
            &:before {
                content: '';
                left: 0;
                position: absolute;
                top: 0;
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                border: 1px solid $clr-base;
                transition: all 0.4s ease-in;
            }
            &:after {
                content: '';
                position: absolute;
                width: 0.8rem;
                height: 0.8rem;
                background-color: $clr-dark;
                top: 0.4rem;
                left: 0.4rem;
                opacity: 0;
                border-radius: 50%;
                transition: all 0.4s ease-in;
            }
        }
        &:checked {
            +label {
                color: $clr-dark;
                &:before {
                    border-color: $clr-dark;
                }
                &:after {
                    opacity: 1;
                }
            }
        }
    }
    &.typ-pill {
        input[type=radio] {
            +label {
                font-size: 1.4rem;
                line-height: 1.8rem;
                font-weight: $fnt-sm-bold;
                display: inline-block;
                text-align: center;
                padding: 1rem 2rem;
                border: 1px solid $clr-dark;
                background-color: $clr-root;
                border-radius: 2.5rem;
                text-transform: initial;
                &:after,
                &:before {
                    content: none;
                }
            }
            &:checked {
                +label {
                    border-color: $clr-default;
                    color: $clr-default;
                }
            }
        }
        &:hover {
            input[type=radio] {
                +label {
                    border-color: $clr-default;
                    color: $clr-default;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-radiobox {
        &.typ-pill {
            input[type=radio] {
                +label {
                    font-size: 1.2rem;
                }
            }
        }
    }
}