//bs-attribute
.bs-attribute {
    .attr-title {
        font-size: 1.6rem;
        line-height: 1.2;
        font-weight: $fnt-bold;
        color: $clr-dark;
        margin-bottom: 2rem;
    }
    .dd-title {
        font-size: 1.2rem;
        line-height: 1.3;
        color: $clr-base;
        font-weight: $fnt-bold;
    }
    .dd-value {
        font-size: 1.2rem;
        line-height: 1.3;
        color: $clr-base;
        font-weight: $fnt-light;
        .icon {
            width: 2.4rem;
            height: 2.4rem;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            vertical-align: middle;
            margin-right: 1rem;
            line-height: 100%;
            font-size: 2.2rem;
            &.icon-blend {
                background-image: url('../images/kitchen.svg');
            }
        }
    }
    .dd-list {
        li {
            padding: 1rem 0;
            .dd-title,
            .dd-value {
                display: inline-block;
                width: 11.5rem;
                vertical-align: middle;
            }
            .dd-title {
                width: 8.5rem;
            }
        }
        &.typ-split {
            li {
                display: inline-block;
                margin-right: 5rem;
                position: relative;
                &:last-child {
                    margin-right: 0;
                    &:after {
                        content: none;
                    }
                }
                &:after {
                    content: '|';
                    font-size: 1.4rem;
                    color: #e0e0e0;
                    font-weight: $fnt-light;
                    position: absolute;
                    right: -1.4rem;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
    >ul {
        >li {
            padding: 3rem 0;
            border-bottom: 1px solid #e8e6e6;
            &:first-child,
            &:nth-child(2) {
                padding: 1.5rem 0;
            }
        }
    }
    .attr-action {
        margin-top: 1.5rem;
        .bs-custom-select {
            width: 10rem;
            display: inline-block;
            margin-right: 2rem;
        }
    }
    .radio-wrap {
        display: block;
        margin-top: 1rem;
        .bs-radiobox {
            display: inline-block;
            vertical-align: middle;
            min-width: 11rem;
            margin-right: 1rem;
            label {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-attribute {
        .dd-list {
            &.typ-split {
                li {
                    margin-right: 1rem;
                    .dd-title {
                        width: 6rem;
                    }
                    &:after {
                        content: none;
                    }
                }
            }
        }
        .radio-wrap {
            .bs-radiobox {
                min-width: 8.5rem;
                margin-right: 0.7rem;
                margin-bottom: 1rem;
            }
        }
    }
}