//bs-checkbox
.bs-checkbox {
    input[type=checkbox] {
        position: absolute;
        opacity: 0;
        visibility: hidden;
        margin: 0;
        display: none;
        +label {
            font-size: 1.2rem;
            line-height: 1.6rem;
            color: $clr-base;
            cursor: pointer;
            padding-left: 2rem;
            position: relative;
            transition: all 0.4s ease-in;
            text-transform: capitalize;
            .check {
                position: absolute;
                top: 0;
                left: 0;
                width: 1.6rem;
                height: 1.6rem;
                border: 1px solid $clr-base;
                display: inline-block;
                transition: all 0.4s ease-in;
                &:before {
                    content: '';
                    position: absolute;
                    width: 0.6rem;
                    height: 0.2rem;
                    background: $clr-root;
                    transform: rotate(45deg);
                    bottom: 0.4rem;
                    left: 0.2rem;
                }
                &:after {
                    content: '';
                    position: absolute;
                    width: 1rem;
                    height: 0.2rem;
                    background: $clr-root;
                    transform: rotate(-60deg);
                    bottom: 0.6rem;
                    right: 0rem;
                }
            }
        }
        &:checked {
            +label {
                .check {
                    background: $clr-dark;
                }
            }
        }
    }
}