// bs-header
.bs-header {
    height: 7.5rem;
    padding: 0 5rem;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 20;
    background-color: $clr-root;
    box-shadow: 0 0 5px #e5e5e5;
    .logo {
        position: absolute;
        width: 5.5rem;
        display: block;
        top: 50%;
        left: 5rem;
        transform: translateY(-50%);
        img {
            width: 100%;
        }
    }
    .menu-btn {
        display: none;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        padding: 1.8rem 2rem;
        z-index: 3;
        .line {
            width: 2.4rem;
            height: 0.2rem;
            display: block;
            margin-bottom: 0.7rem;
            background: $clr-dark;
            transition: all 0.4s ease-in-out;
            &:last-of-type {
                margin-bottom: 0;
                transform: translateY(0) rotate(0deg);
            }
            &:first-of-type {
                transform: translateY(0) rotate(0deg);
            }
        }
        &.active {
            .line {
                background: $clr-root;
                &:last-of-type {
                    transform: translateY(-0.85rem) rotate(-45deg);
                }
                &:first-of-type {
                    transform: translateY(0.85rem) rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }
    }
    .nav-wrap {
        padding: 1.6rem 0;
        float: right;
        nav {
            display: inline-block;
        }
        .nav-item {
            display: inline-block;
            margin-right: 3rem;
            padding: 1.2rem;
            &:last-of-type {
                margin-right: 1.8rem;
            }
            .nav-link {
                font-size: 1.5rem;
                line-height: 1.9rem;
                font-weight: $fnt-sm-bold;
                color: $clr-dark;
                text-transform: capitalize;
                position: relative;
                display: inline-block;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -0.2rem;
                    width: 0;
                    left: 0;
                    background-color: $clr-dark;
                    height: 0.1rem;
                    transition: all 0.4s ease-in-out;
                }
                &:hover {
                    &:before {
                        width: 100%;
                        transition: all 0.4s ease-in-out;
                    }
                }
            }
        }
    }
    .mod-user {
        display: inline-block;
        padding: 0 3rem;
        border-right: 0.5px solid $clr-border;
        border-left: 0.5px solid $clr-border;
        position: relative;
        .link {
            font-size: 1.4rem;
            line-height: 1.8rem;
            color: $clr-dark;
            padding-right: 1.6rem;
            position: relative;
            display: inline-block;
            .user {
                font-weight: $fnt-bold;
            }
            &:before {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 5px solid $clr-dark;
            }
        }
    }
    .nav-icon-list {
        display: inline-block;
        .item {
            display: inline-block;
            margin-left: 2.5rem;
        }
    }
    &.typ-black {
        background-color: $clr-dark;
        box-shadow: none;
        .nav-wrap {
            .nav-item {
                .nav-link {
                    color: $clr-root;
                    &:before {
                        background-color: $clr-root;
                    }
                }
            }
        }
        .mod-user {
            .link {
                color: $clr-root;
                &:before {
                    border-top-color: $clr-root;
                }
            }
        }
        .mod-cart {
            .icon {
                color: $clr-root;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-header {
        height: 5.6rem;
        padding: 0 1.2rem;
        .logo {
            width: 4rem;
            left: 8rem;
        }
        .menu-btn {
            display: block;
        }
        .nav-wrap {
            padding: 1.8rem 0;
            margin-right: 0.8rem;
            nav {
                background: $clr-dark;
                position: fixed;
                top: 0;
                bottom: 0;
                left: -100%;
                right: 100%;
                transition: all 0.4s ease-in-out;
                z-index: 2;
                .nav-list {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                }
                .nav-item {
                    display: block;
                    margin-right: 0;
                    padding: 0;
                    .nav-link {
                        padding: 1.5rem 2.2rem;
                        font-size: 2rem;
                        line-height: 2.4rem;
                        color: $clr-root;
                        display: block;
                        &:before {
                            content: none;
                        }
                    }
                    &:last-of-type {
                        margin-right: 0;
                    }
                }
                &.open {
                    left: 0;
                    right: 0;
                }
            }
        }
        .mod-user {
            display: none;
        }
        &.typ-black {
            .menu-btn {
                .line {
                    background: $clr-root;
                }
            }
        }
    }
}