//bs-login
.bs-login {
    background: $clr-root;
    padding: 2rem 5.4rem 3rem 43.6rem;
    -webkit-box-shadow: 0rem 0rem 1rem -0.5rem rgba(162, 162, 162, 1);
    -moz-box-shadow: 0rem 0rem 1rem -0.5rem rgba(162, 162, 162, 1);
    box-shadow: 0rem 0rem 1rem -0.5rem rgba(162, 162, 162, 1);
    margin: 3.6rem auto;
    margin-bottom: 0;
    width: 95rem;
    position: relative;
    .title {
        font-size: 4rem;
        line-height: 1.3;
        color: $clr-dark;
    }
    .login-method {
        .title {
            font-size: 1.3rem;
            line-height: 1.3;
            color: $clr-base;
            font-weight: $fnt-light;
            margin-bottom: 2rem;
        }
        .login-item {
            display: inline-block;
            margin-right: 2rem;
            &:hover {
                .icon {
                    transform: scale(1);
                }
            }
        }
        .icon {
            width: 5rem;
            height: 5rem;
            display: block;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-color: transparent;
            background-size: cover;
            transition: all 0.3s ease;
            transform: scale(0.9);
            &.icon-facebook {
                background-image: url('../images/fb.png');
            }
            &.icon-google {
                background-image: url('../images/google.png');
            }
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: 1;
        width: 38rem;
        background: url('../images/login-banner.jpg')no-repeat bottom center transparent;
        background-size: cover;
    }
    &:after {
        content: '';
        position: absolute;
        width: 11rem;
        height: 8rem;
        background: url('../images/logo-login.svg')no-repeat 0 0 transparent;
        background-size: cover;
        top: 5rem;
        left: 19rem;
        transform: translateX(-50%);
        z-index: 2;
    }
    .head-wrap {
        margin-bottom: 5rem;
    }
    .form-action {
        margin: 2rem 0 4rem 0;
        .btn {
            width: 45%;
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &.typ-no-img {
        padding: 3rem 5.4rem;
        width: 55rem;
        &:after,
        &:before {
            content: none;
        }
        .form-action {
            margin: 5rem 0 2rem 0;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-login {
        width: 100%;
        padding: 2rem;
        box-shadow: none;
        margin: auto;
        .head-wrap {
            text-align: center;
        }
        &:after,
        &:before {
            content: none;
        }
        .title {
            font-size: 3rem;
        }
        .login-method {
            text-align: center;
        }
        .form-action {
            text-align: center;
            margin: 2rem 0 3rem 0;
            .btn {
                width: 100%;
                display: block;
                margin-bottom: 2rem;
            }
        }
        &.typ-no-img {
            width: 100%;
            padding: 2rem;
        }
        .cm-text-left {
            text-align: center!important;
        }
    }
}