//bs-thank-you
.bs-message {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 7.5rem;
    .msg-wrap {
        width: 70rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ty-head {
        margin-bottom: 3rem;
    }
    .icon {
        width: 8.5rem;
        height: 8.5rem;
        background-size: cover;
        display: inline-block;
        margin-bottom: 1rem;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: transparent;
        &.icon-thankyou {
            background-image: url('../images/thumbs-up.svg');
        }
        &.icon-404 {
            background-image: url('../images/404.svg');
        }
        &.icon-fail {
            background-image: url('../images/payment-fail.svg');
        }
        &.icon-empty {
            background-image: url('../images/empty-cart.svg');
        }
        &.icon-remove {
            background-image: url('../images/remove.svg');
        }
        &.icon-bag {
            background-image: url('../images/bag.svg');
        }
        &.icon-done {
            background-image: url("../images/done.svg");
        }
        &.icon-reg-remove {
            background-image: url("../images/reg-remove.svg");
        }
        &.icon-address-error {
            background-image: url("../images/error.svg");
        }
    }
    .img-wrap {
        width: 8.5rem;
        height: 8.5rem;
        margin: 0 auto 1rem;
        img {
            width: 100%;
        }
    }
    .ty-title {
        font-size: 3.2rem;
        line-height: 1.3;
        color: $clr-dark;
        font-weight: $fnt-bold;
        text-transform: capitalize;
    }
    .ty-desc {
        font-size: 2rem;
        line-height: 1.3;
        color: $clr-dark;
        font-weight: $fnt-bold;
    }
    .order-data {
        border: 1px solid $clr-border;
        padding: 2rem 1rem;
    }
    .order-id {
        font-size: 1.8rem;
        line-height: 1.3;
        font-weight: $fnt-light;
        text-transform: capitalize;
        color: $clr-dark;
        span {
            font-weight: $fnt-bold;
            text-transform: uppercase;
            display: inline-block;
            margin-left: 1rem;
        }
    }
    .btn-link {
        margin-bottom: 2rem;
    }
    .order-time {
        margin-bottom: 0;
        font-size: 1.4rem;
        line-height: 1.3;
        color: $clr-dark;
        text-transform: capitalize;
        .bold {
            font-weight: $fnt-bold;
            display: inline-block;
            margin-right: 1rem;
        }
    }
    .btn-default {
        margin-top: 2rem;
    }
    &.typ-static {
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        top: auto;
        .msg-wrap {
            width: auto;
            position: relative;
            top: auto;
            left: auto;
            transform: translate(0, 0);
        }
        .ty-cont {
            .btn {
                display: inline-block;
                margin-right: 1rem;
                margin-top: 0;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .ty-desc {
            font-size: 1.5rem;
            margin: 1rem 0 3rem;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-message {
        top: 5.6rem;
        .msg-wrap {
            width: 100%;
            padding: 0 1.5rem;
        }
        .icon-thankyou {
            width: 6rem;
            height: 6rem;
        }
        .ty-title {
            font-size: 3rem;
        }
        .ty-desc {
            font-size: 1.3rem;
        }
        .ty-head {
            margin-bottom: 2rem;
        }
        .order-id {
            font-size: 1.6rem;
        }
        .btn-default {
            margin-top: 5rem;
        }
    }
}