// bs-progress-tab
.bs-progress-tab {
    .progress-list {
        text-align: center;
    }
    .progress-item {
        width: 26rem;
        margin-right: 0.5rem;
        text-align: center;
        display: inline-block;
        &:last-of-type {
            margin-right: 0;
        }
        .progress-link {
            display: block;
            text-align: center;
            font-size: 2.2rem;
            line-height: 2.6rem;
            padding: 1.2rem 0;
            font-weight: $fnt-bold;
            color: $clr-dark;
            opacity: 0.23;
            border-bottom: 2px solid #dcdcdc;
            .count {
                color: $clr-base;
                font-weight: $fnt-light;
            }
            .icon {
                font-size: 2rem;
                display: inline-block;
                vertical-align: middle;
                margin-right: 1.5rem;
                color: $clr-dark;
            }
            &.active {
                opacity: 1;
                border-bottom-color: $clr-default;
            }
            &.completed {
                opacity: 1;
            }
        }
    }
    .progress-cont {
        padding: 3rem 0;
        .order-wrap {
            background: rgba($color: #b7b7b7, $alpha: 0.05);
            padding: 1.5rem 3rem 3rem;
            .order-head {
                margin-bottom: 1.2rem;
                .title {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }
            }
            .order-cont {
                .mod-data-list {
                    margin-bottom: 2rem;
                }
            }
            .order-foot {
                .mod-data-list {
                    border-top: 1px solid #e6e6e6;
                    border-bottom: 1px solid #e6e6e6;
                    padding: 1rem 0;
                    margin-bottom: 1.5rem;
                    dl {
                        dt {
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                            color: $clr-dark;
                            font-weight: $fnt-bold;
                        }
                        dd {
                            font-size: 2.4rem;
                            line-height: 2.8rem;
                            font-weight: $fnt-bold;
                            color: $clr-dark;
                        }
                    }
                }
                .input-group {
                    display: block;
                    position: relative;
                    margin-bottom: 2rem;
                    .form-control {
                        border: none;
                        padding: 1rem 4.5rem 1rem 0.8rem;
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        border-bottom: 0.5px solid $clr-base;
                        background: transparent;
                        box-shadow: none;
                        border-radius: 0;
                        display: block;
                        float: none;
                        z-index: 0;
                        &:focus,
                        &.active,
                        &:hover {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    .input-btn {
                        font-size: 1.2rem;
                        line-height: 1.6rem;
                        position: absolute;
                        right: 0.8rem;
                        top: 1.8rem;
                        z-index: 1;
                    }
                    &.error {
                        .error-msg {
                            position: relative;
                            bottom: auto;
                            left: auto;
                            display: block;
                        }
                        .form-control {
                            border-color: $clr-error !important;
                        }
                    }
                    &.success {
                        .error-msg {
                            position: relative;
                            bottom: auto;
                            left: auto;
                            display: block;
                            color: #198754;
                        }
                        .form-control {
                            border-color: #198754 !important;
                        }
                    }
                }
                .btn-default {
                    display: block;
                    width: 100%;
                    padding-top: 1.4rem;
                    padding-bottom: 1.4rem;
                    font-weight: $fnt-bold;
                    margin-top: 4rem;
                }
            }
        }
        .shipping-wrap {
            padding-top: 1.5rem;
            >.title {
                font-size: 1.8rem;
                line-height: 2.2rem;
                margin-bottom: 3.5rem;
            }
        }
        .payment-wrap {
            position: relative;
            min-height: 41.2rem;
            .btn {
                width: 30rem;
                font-weight: $fnt-light;
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;
                line-height: 3.4rem;
                padding-right: 6rem;
                text-align: left!important;
                .txt-lg {
                    font-size: 3rem;
                    line-height: 1.3;
                    font-weight: $fnt-sm-bold;
                    display: block;
                }
                .txt-sm {
                    text-transform: initial;
                    font-size: 2rem;
                    line-height: 1.3;
                    display: block;
                    strong {
                        font-weight: $fnt-bold;
                    }
                }
                .icon {
                    font-size: 4rem;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 2rem;
                }
            }
        }
        .cart-item {
            margin-bottom: 3.5rem;
            &:nth-of-type(5n+1) {
                .pd-img {
                    background: $clr-pallet1;
                }
            }
            &:nth-of-type(5n+2) {
                .pd-img {
                    background: $clr-pallet2;
                }
            }
            &:nth-of-type(5n+3) {
                .pd-img {
                    background: $clr-pallet3;
                }
            }
            &:nth-of-type(5n+4) {
                .pd-img {
                    background: $clr-pallet4;
                }
            }
            &:nth-of-type(5n+5) {
                .pd-img {
                    background: $clr-pallet5;
                }
            }
        }
        .mod-cart-pd {
            height: 15rem;
            .pd-img {
                width: 13.5rem;
            }
            .pd-detail {
                width: calc(100% - 13.5rem);
                position: relative;
            }
            .del-btn {
                position: absolute;
                bottom: 0;
                left: 3rem;
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
            .act-wrap {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    &.typ-empty {
        .progress-cont {
            position: relative;
            min-height: 40rem;
            .row {
                display: none;
            }
            .bs-message {
                position: absolute;
                display: block;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-progress-tab {
        .progress-item {
            width: 9rem;
            .progress-link {
                font-size: 1.1rem;
                line-height: 1.5rem;
                padding: 0.8rem 0;
                .icon {
                    display: none;
                    font-size: 1.2rem;
                    margin-right: 1rem;
                }
            }
        }
        .progress-cont {
            .mod-cart-pd {
                height: auto;
                .pd-img {
                    width: 8rem;
                }
                .pd-detail {
                    width: calc(100% - 8rem);
                }
                .act-wrap {
                    position: static;
                    margin: 1rem 0 0;
                }
                .del-btn {
                    left: 1.5rem;
                }
            }
            .order-wrap {
                .order-foot {
                    .mod-data-list {
                        dl {
                            dd {
                                font-size: 1.8rem;
                                line-height: 2.2rem;
                            }
                        }
                    }
                    .btn-default {
                        margin-top: 0;
                    }
                }
            }
            .shipping-wrap {
                padding-top: 0;
                margin-bottom: 3rem;
                >.title {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    margin-bottom: 3rem;
                }
                .mod-add-card {
                    margin-bottom: 1.5rem;
                }
            }
            .payment-wrap {
                min-height: auto;
                .btn {
                    position: relative;
                    transform: none;
                    font-size: 2.5rem;
                    line-height: 2.9rem;
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                    top: auto;
                    left: auto;
                    .txt-lg {
                        font-size: 2rem;
                    }
                    .txt-sm {
                        font-size: 1.3rem;
                    }
                    .icon {
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}