//bs-product-details
.bs-product-details {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .pd-view-wrap,
    .pd-info {
        padding: 0 2.5rem;
    }
    .pd-view-wrap {
        width: 50rem;
    }
    .pd-info {
        width: 60rem;
    }
    .pd-title {
        font-size: 2.2rem;
        line-height: 1.5;
        font-weight: $fnt-sm-bold;
        color: $clr-dark;
        text-transform: capitalize;
    }
    .bs-amount {
        margin-bottom: 3rem;
        .amount-val {
            font-size: 2.6rem;
        }
        .amount-qty {
            font-size: 1.6rem;
        }
    }
    .pd-desc {
        p {
            color: $clr-base;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .pd-btn-like {
        font-size: 2rem;
        color: #dcdcdc;
        padding: 2rem;
        z-index: 2;
        &.active {
            color: #ff0000;
        }
    }
    .pd-info {
        position: relative;
        .pd-btn-like {
            position: absolute;
            top: -2rem;
            right: -2rem;
        }
    }
    &.typ-sm {
        justify-content: space-between;
        .pd-view-wrap,
        .pd-info {
            padding: 0;
        }
        .pd-view-wrap {
            width: 35rem;
        }
        .pd-info {
            width: 48rem;
        }
        .bs-view {
            .view-wrap {
                height: 35rem;
            }
            .view-item-list {
                .view-item {
                    width: 8rem;
                    height: 8rem;
                    padding: 1rem;
                }
            }
        }
        .bs-amount {
            margin-bottom: 0;
        }
        .bs-attribute {
            >ul {
                >li {
                    padding: 1.5rem 0;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
            .radio-wrap {
                margin-left: 1rem;
                .radio-box {
                    width: 11.5rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-product-details {
        .pd-info,
        .pd-view-wrap {
            width: 100%;
            padding: 0;
        }
        .pd-view-wrap {
            margin-bottom: 2rem;
        }
        .bs-amount {
            margin-bottom: 2rem;
            .amount-val {
                font-size: 2rem;
            }
            .amount-qty {
                font-size: 1.2rem;
            }
        }
        .pd-info {
            .pd-btn-like {
                top: -1.5rem;
                right: -1.5rem;
            }
        }
        &.typ-sm {
            .pd-view-wrap,
            .pd-info {
                width: 100%;
            }
            .bs-attribute {
                .radio-wrap {
                    margin-left: 0;
                    .radio-box {
                        margin-right: 0.6rem;
                    }
                }
            }
            .bs-view {
                .view-wrap {
                    height: 94vw;
                }
                .view-item-list {
                    .view-item {
                        width: 6rem;
                        height: 6rem;
                    }
                }
            }
        }
        .pd-title {
            font-size: 1.6rem;
        }
    }
}