// bs-custom-select
.bs-custom-select {
    .select2-container {
        width: 100%;
        .select2-choice {
            height: 3.6rem;
            line-height: 3.6rem;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $clr-base;
            background: transparent;
            .select2-arrow {
                border: none;
                background: transparent;
                width: 2.5rem;
                b {
                    background-image: none;
                    position: relative;
                    &:before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        border-right: 5px solid transparent;
                        border-left: 5px solid transparent;
                        border-top: 5px solid $clr-dark;
                    }
                }
            }
            >.select2-chosen {
                text-align: left;
                text-transform: capitalize;
            }
        }
    }
    &.typ-box {
        .select2-container {
            .select2-choice {
                height: 4.5rem;
                line-height: 4.5rem;
                border: 1px solid $clr-base;
            }
        }
    }
}

.select2-drop-active {
    border-color: $clr-dark;
}

.select2-results {
    .select2-highlighted {
        background: $clr-default;
    }
    li {
        padding: 0.5rem;
        border-bottom: 1px solid #d2d2d2;
        &:last-child {
            border-bottom: none;
        }
    }
}

.select2-drop.select2-drop-above.select2-drop-active {
    border: none;
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-custom-select {
        &.typ-box {
            .select2-container {
                .select2-choice {
                    height: 3.8rem;
                    line-height: 3.8rem;
                    .select2-arrow {
                        b {
                            &:before {
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                }
            }
        }
    }
}