//bs-toaster
.bs-toaster {
    width: 50rem;
    margin: 0 auto;
    padding: 2rem 1.2rem 2rem 2rem;
    background: $clr-bg;
    border-radius: .5rem;
    -webkit-box-shadow: 0rem 0rem .5rem .1rem rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0rem 0rem .5rem .1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0rem 0rem .5rem .1rem rgba(0, 0, 0, 0.15);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    transition: all 0.3s ease;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    background: #f2f2f2;
    .toaster-info {
        margin-bottom: 0;
        font-weight: $fnt-sm-bold;
    }
    .btn.btn-link {
        position: absolute;
        right: 2rem;
        top: 50%;
        transform: translateY(-50%);
    }
    &.typ-sm {
        width: 30rem;
    }
    &.active {
        transform: translateY(-10px);
        opacity: 1;
        visibility: visible;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-toaster {
        width: 100%;
        padding: 1rem 2rem;
        &.typ-sm {
            left: 0;
            right: 0;
            width: 95%;
            top: auto;
            &.active {
                bottom: 1rem;
            }
        }
    }
}