// bs-img-block
.bs-img-block {
    position: relative;
    padding-bottom: 10rem;
    .img-wrap {
        height: 55rem;
    }
    .info-wrap {
        position: absolute;
        left: 50%;
        bottom: 30%;
        transform: translateX(-50%);
        width: 60rem;
        .title {
            font-size: 6rem;
            line-height: 6.4rem;
            color: $clr-root;
            text-align: center;
            .cm-cursive {
                font-size: 5rem;
                line-height: 1;
                color: $clr-default;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-img-block {
        padding-bottom: 0;
        margin-bottom: 5rem;
        .img-wrap {
            height: 30rem;
        }
        .info-wrap {
            width: 90%;
            bottom: auto;
            top: 70%;
            transform: translate(-50%, -50%);
            .title {
                font-size: 3.2rem;
                line-height: 3.6rem;
                .cm-cursive {
                    font-size: 3.5rem;
                    line-height: 1;
                }
            }
        }
    }
}