// bs-cart-fly
.bs-cart-fly {
    position: fixed;
    top: 7.5rem;
    right: 0;
    width: 36rem;
    bottom: 0;
    z-index: 13;
    right: -100%;
    background: $clr-root;
    transition: all 0.5s ease-in-out;
    &.open {
        right: 0;
    }
    .cart-head {
        padding: 2rem 1.5rem;
        position: relative;
        border-bottom: 1px solid #979797;
        background: $clr-root;
        .title {
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: $fnt-bold;
            color: $clr-dark;
            display: inline-block;
        }
        .count {
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: $fnt-light;
            color: $clr-base;
            display: inline-block;
        }
        .close-btn {
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 0;
            .icon {
                color: $clr-base;
                font-size: 1.2rem;
            }
        }
    }
    .cart-body {
        padding: 1.5rem 1rem;
        overflow-y: auto;
        height: calc(100% - 20rem);
        background: $clr-root;
        .cart-item {
            margin-bottom: 3rem;
            &:last-of-type {
                margin-bottom: 0;
            }
            .mod-cart-pd {
                position: relative;
                .del-btn {
                    position: absolute;
                    top: 0;
                    right: 0;
                    cursor: pointer;
                    padding: 0;
                }
                .pd-img {
                    width: 7.5rem;
                    background: $clr-pallet4;
                    img {
                        width: 90%;
                    }
                }
                .pd-detail {
                    padding: 0;
                    padding-left: 1.5rem;
                    width: calc(100% - 7.5rem);
                }
                .pd-title {
                    font-size: 1.3rem;
                    line-height: 1.7rem;
                }
                .bs-amount {
                    .amount-val {
                        font-size: 1.5rem;
                        line-height: 1.9rem;
                    }
                }
                .act-wrap {
                    margin-top: 2rem;
                    .bs-val-variation {
                        padding: 0.6rem 0;
                    }
                }
            }
        }
    }
    .cart-foot {
        background: rgba($color: #b7b7b7, $alpha: 0.05);
        padding: 2rem 1.5rem 2.7rem;
        height: 14rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        .mod-data-list {
            margin-bottom: 1.5rem;
            dl {
                dt {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                    color: $clr-dark;
                    font-weight: $fnt-bold;
                }
                dd {
                    font-size: 2.2rem;
                    line-height: 1.3;
                    font-weight: $fnt-bold;
                    color: $clr-dark;
                }
            }
        }
        .btn {
            display: block;
            width: 100%;
            font-weight: $fnt-bold;
        }
    }
    .bs-message {
        display: none;
    }
    &.typ-empty {
        .cart-list,
        .cart-foot {
            display: none;
        }
        .bs-message {
            position: absolute;
            display: block;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-cart-fly {
        top: 5.6rem;
        width: 30rem;
    }
}