//bs-newsletter
.bs-newsletter {
    .nl-title {
        font-size: 1.3rem;
        line-height: 1.6;
        color: $clr-dark;
        font-weight: $fnt-bold;
        display: inline-block;
        margin-right: 2rem;
    }
    .nl-input-group {
        display: inline-block;
        position: relative;
        padding-right: 10rem;
        border: 1px solid $clr-border;
        height: 4.5rem;
        width: 38rem;
        .nl-btn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background: $clr-dark;
            color: $clr-root;
            text-transform: capitalize;
            font-size: 1.2rem;
            line-height: 1.58;
            width: 10rem;
            border: none;
        }
        .form-control {
            border: none;
            height: 100%;
            &:focus,
            &:active {
                outline: none;
                box-shadow: none;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-newsletter {
        text-align: center;
        .nl-title {
            margin-right: 0;
            margin-bottom: 10px;
        }
        .nl-input-group {
            width: 100%;
        }
    }
}