// bs-world-spice
.bs-world-spice {
    text-align: center;
    width: 65rem;
    margin: 0 auto;
    position: relative;
    .img-wrap {
        width: 23rem;
        margin: 0 auto 1rem;
        img {
            width: 100%;
        }
    }
    .title {
        font-size: 1.6rem;
        line-height: 2rem;
        margin-bottom: 2rem;
        font-weight: $fnt-bold;
        color: $clr-dark;
        opacity: 0;
        transform: translateY(1rem);
        transition: opacity 0.5s ease-in 2s, transform 1s linear 2s;
    }
    .desc {
        width: 60rem;
        margin: 0 auto;
        padding: 0 1rem;
        opacity: 0;
        transform: translateY(1rem);
        transition: opacity 0.5s ease-in 2.4s, transform 1s linear 2s;
    }
    .swiper-container {
        margin-bottom: 3rem;
        overflow: hidden;
        .swiper-slide-active {
            .title,
            .desc {
                opacity: 1;
                transform: translateY(0rem);
            }
        }
    }
    .swiper-slide-prev,
    .swiper-slide-next {
        .title,
        .desc {
            visibility: hidden;
            transition-delay: 0s;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        background: none;
        width: auto;
        height: auto;
        top: 40%;
        .icon {
            font-size: 4.5rem;
            color: $clr-dark;
        }
    }
    .swiper-button-prev {
        left: -7rem;
    }
    .swiper-button-next {
        right: -7rem;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-world-spice {
        width: 100%;
        .img-wrap {
            width: 15rem;
        }
        .swiper-container {
            margin-bottom: 1.5rem;
        }
        .swiper-button-next,
        .swiper-button-prev {
            top: 30%;
            .icon {
                font-size: 3rem;
            }
        }
        .swiper-button-prev {
            left: 1.5rem;
        }
        .swiper-button-next {
            right: 1.5rem;
        }
        .desc {
            width: 100%;
        }
    }
}