//bs-related-products
.bs-related-products {
    padding-bottom: 4rem;
    position: relative;
    .lyt-product-listing {
        .bs-product {
            >.pd-action {
                display: none;
            }
            .pd-btn-like {
                display: block;
            }
        }
    }
    .swiper-pagination {
        bottom: -1rem;
    }
    .swiper-btn {
        background: none;
        height: auto;
        top: 57%;
        .icon {
            font-size: 3rem;
            transition:all 0.3s ease;
        }
        &.swiper-button-prev {
            left: -5rem;

        }
        &.swiper-button-next {
            right: -4rem;
        }
        &:hover{
            .icon{
                color: $clr-default;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-related-products {
        .lyt-product-listing {
            .bs-product {
                height: auto;
                padding-bottom: 0;
            }
        }
        .swiper-pagination {
            bottom: 0;
        }
    }
}