//bs-sec
.bs-sec {
    padding: 0rem 0 10rem;
    &.sec-first-child {
        padding-top: 5rem;
    }
    &.sec-last-child {
        padding-bottom: 0;
    }
    .sec-title {
        font-size: 5rem;
        line-height: 1;
        color: $clr-dark;
        letter-spacing: -0.1rem;
        text-align: center;
        .text-sm {
            font-size: 2rem;
        }
    }
    .sec-head {
        margin-bottom: 3rem;
    }
    &.sec-tab {
        .sec-title {
            margin-bottom: 2rem;
        }
        .sec-head {
            text-align: center;
            margin-bottom: 0;
            .nav-tabs {
                display: inline-block;
            }
        }
    }
    &.typ-horizon {
        display: table;
        width: 100%;
        .sec-head,
        .sec-cont {
            width: 50%;
            display: table-cell;
            padding: 0 3rem;
            vertical-align: middle;
        }
        .sec-head {
            width: 40%;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-sec {
        padding: 0rem 0 5rem;
        &.sec-first-child {
            padding-top: 2.5rem;
        }
        .sec-title {
            font-size: 3rem;
            .cm-cursive {
                font-size: 3.5rem;
                line-height: 1;
            }
            .text-sm {
                font-size: 1.4rem;
            }
        }
        &.typ-horizon {
            display: block;
            width: 100%;
            .sec-head,
            .sec-cont {
                width: 100%;
                display: block;
                padding: 0;
            }
            .sec-head {
                margin-bottom: 3rem;
            }
        }
        &.sec-tab {
            .sec-head {
                .nav-tabs {
                    display: none;
                }
            }
        }
        &.bs-related-products {
            padding-bottom: 4rem;
        }
    }
}