//bs-img-info
.bs-img-info {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    .img-wrap,
    .info-wrap {
        width: 56rem;
        padding: 0 3rem;
    }
    .img-wrap {
        height: 55rem;
        img {
            width: 100%;
        }
    }
    &.typ-right {
        flex-flow: row-reverse;
    }
    &.typ-vertical-center {
        .img-wrap,
        .info-wrap {
            align-self: center;
        }
    }
    .bs-info {
        width: 90%;
        &.typ-fixed {
            width: 100%;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-img-info {
        display: block;
        justify-content: unset;
        flex-flow: unset;
        .img-wrap,
        .info-wrap {
            display: block;
            width: 100%;
            padding: 0;
        }
        .img-wrap {
            height: auto;
            margin-bottom: 2rem;
        }
        &.typ-right {
            flex-flow: unset;
        }
    }
}