//bs-testimonials
.bs-testimonials {
    position: relative;
    .sec-title {
        font-size: 5rem;
        line-height: 1;
        color: $clr-dark;
        letter-spacing: -0.1rem;
        text-align: left;
    }
    .img-wrap {
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 4.5rem;
    }
    .desc {
        margin-bottom: 3.5rem;
        max-width: 52.8rem;
        p {
            font-size: 1.6rem;
            line-height: 1.5;
        }
    }
    .meta-info {
        display: block;
        font-size: 1.4rem;
        line-height: 1.79;
        color: $clr-dark;
        font-weight: $fnt-bold;
    }
    .swiper-container {
        overflow: hidden;
    }
    .swiper-btn {
        background-image: url('../images/right-arrow.svg');
        position: absolute;
        // bottom: 0;
        bottom: -4rem;
        top: auto;
        &.swiper-button-prev {
            transform: rotate(180deg);
            left: 10rem;
        }
        &.swiper-button-next {
            left: 16rem;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-testimonials {
        text-align: center;
        padding-bottom: 6rem;
        .sec-title {
            font-size: 3rem;
            margin-bottom: 3rem;
            text-align: center;
            span {
                display: inline-block;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .img-wrap {
            margin: 0 auto;
            margin-bottom: 3.5rem;
        }
        .desc {
            margin-bottom: 2.5rem;
        }
        .swiper-slide {
            padding: 0 2rem;
        }
        .swiper-pagination {
            bottom: 0;
        }
    }
}