//bs-pos-ele
.bs-pos-ele {
    position: relative;
    .element {
        position: absolute;
        display: block;
        z-index: 3;
        &.ele-taj {
            width: 16rem;
            height: 14rem;
            background: url('../images/elements/ele1.png')no-repeat 0 0 transparent;
            background-size: contain;
            bottom: -7rem;
            right: -1rem;
        }
        &.ele2 {
            width: 14rem;
            height: 15rem;
            background: url('../images/elements/ele2.png')no-repeat 0 0 transparent;
            background-size: contain;
            top: -3rem;
            left: -1rem;
        }
        &.ele3 {
            width: 26rem;
            height: 17rem;
            background: url('../images/elements/ele3.png')no-repeat 0 0 transparent;
            background-size: contain;
            bottom: -8rem;
            left: -6rem;
        }
        &.ele4 {
            width: 11rem;
            height: 7rem;
            background: url('../images/elements/ele4.png')no-repeat 0 0 transparent;
            background-size: contain;
            bottom: -10rem;
            left: 23rem;
        }
        &.ele5 {
            width: 17rem;
            height: 23rem;
            background: url('../images/elements/ele5.png')no-repeat 0 0 transparent;
            background-size: contain;
            top: -11rem;
            left: 0;
        }
        &.ele6 {
            width: 12rem;
            height: 18rem;
            background: url('../images/elements/ele6.png')no-repeat 0 0 transparent;
            background-size: contain;
            bottom: 1rem;
            right: 0;
        }
        &.ele7 {
            width: 19rem;
            height: 16rem;
            background: url('../images/elements/ele7.png')no-repeat 0 0 transparent;
            background-size: contain;
            top: -11rem;
            left: 0;
            z-index: -1;
        }
        &.ele8 {
            width: 10rem;
            height: 13rem;
            background: url('../images/elements/ele12.png')no-repeat 0 0 transparent;
            background-size: contain;
            bottom: 3rem;
            right: 0;
        }
        &.ele9 {
            width: 11rem;
            height: 7rem;
            background: url('../images/elements/ele8.png')no-repeat 0 0 transparent;
            background-size: contain;
            bottom: -2rem;
            left: 17rem;
        }
        &.ele13 {
            width: 46rem;
            height: 20rem;
            background: url('../images/elements/ele14.jpg')no-repeat left center transparent;
            background-size: cover;
            bottom: 0rem;
            left: 0rem;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-pos-ele {
        .element {
            &.ele-taj,
            &.ele5,
            &.ele9,
            &.ele4 {
                display: none;
            }
            &.ele2 {
                width: 9rem;
                height: 10rem;
                top: -4rem;
                left: 0px;
            }
            &.ele3 {
                width: 14rem;
                height: 12rem;
                bottom: -7rem;
                left: -2rem;
            }
            &.ele6 {
                width: 8rem;
                height: 11rem;
                bottom: -6rem;
            }
            &.ele7 {
                width: 13rem;
                height: 10rem;
                top: -7rem;
            }
            &.ele8 {
                width: 7rem;
                height: 7rem;
                bottom: -3rem;
            }
            &.ele13 {
                width: 100%;
                height: 14rem;
                top: 45%;
                bottom: auto;
                left: auto;
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .bs-pos-ele {
        .element {
            &.ele2 {
                width: 7rem;
                height: 8rem;
                top: -3rem;
            }
        }
    }
}