//bs-loader
.bs-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: $clr-root;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    .loader-wrap {
        position: absolute;
        width: 10rem;
        height: 7rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .fill {
        animation: change 5s ease alternate infinite;
    }
    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 25;
    }
    &.typ-2 {
        background: rgba(255, 255, 255, 0.7);
    }
}

@keyframes change {
    0% {
        fill: #b6b6b6;
    }
    100% {
        fill: #000000;
    }
}