//bs-amount
.bs-amount {
    .amount-val {
        font-size: 1.8rem;
        line-height: 1.3;
        color: $clr-dark;
        font-weight: $fnt-bold;
        text-transform: capitalize;
        &.strike {
            text-decoration: line-through;
            color: $clr-base;
        }
    }
    .amount-qty {
        font-size: 1.2rem;
        line-height: 1.3;
        color: $clr-base;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-amount {
        .amount-val {
            font-size: 1.5rem;
        }
        .amount-qty {
            font-size: 1.1rem;
        }
    }
}