//bs-main
.bs-main {
    padding-top: 7.5rem;
    padding-bottom: 4rem;
    .mod-breadcrumbs {
        padding: 2rem 0;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-main {
        padding-top: 5.6rem;
        padding-bottom: 2rem;
    }
}