// bs-val-variation
.bs-val-variation {
    .input-group {
        display: block;
        position: relative;
        line-height: 2;
        .form-control {
            border: none;
            box-shadow: none;
            font-size: 1.6rem;
            line-height: 2;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            width: 7rem;
            padding: 0 0.5rem;
            color: $clr-dark;
            height: auto;
            text-align: center;
            float: none;
            &:disabled {
                background: transparent;
            }
        }
        .input-btn {
            cursor: pointer;
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            top: 50%;
            font-size: 1.6rem;
            .icon {
                font-size: 1.6rem;
                color: $clr-default;
            }
            &.incre-btn {
                right: 0;
            }
            &.decre-btn {
                left: 0;
            }
            &:disabled {
                cursor: no-drop;
                opacity: 0.3;
            }
        }
    }
}