//bs-footer
.bs-footer {
    background: $clr-bg;
    .footer-top {
        padding: 3.5rem 6rem 0rem 6rem;
        .grid {
            padding-bottom: 6rem;
        }
    }
    .footer-mid,
    .footer-bottom {
        padding: 2rem 6rem;
    }
    .footer-mid {
        overflow: hidden;
        .lhs {
            float: left;
        }
        .rhs {
            float: right;
        }
    }
    .footer-bottom {
        background: $clr-root;
        overflow: hidden;
        .lhs {
            float: left;
        }
        .rhs {
            float: right;
            .copyrights {
                display: inline-block;
            }
        }
    }
    .support-wrap {
        text-align: left;
        .img-list {
            overflow: hidden;
            .item {
                float: left;
                margin-right: 2rem;
                .icon {
                    height: 3.5rem;
                    min-width: 7rem;
                    display: inline-block;
                    background: url('../images/support-sprite.png')no-repeat 0 0 transparent;
                    background-size: cover;
                    &.icon-visa {
                        background-position: 0 -20.1rem;
                    }
                    &.icon-mastercard {
                        background-position: 0 0.2rem;
                    }
                    &.icon-paytm {
                        background-position: 0 -6.3rem;
                    }
                    &.icon-upi {
                        background-position: 0 -13rem;
                    }
                }
            }
        }
    }
    .quick-links {
        padding: 0 20px;
        li {
            a,
            h3 {
                font-size: 1.3rem;
                line-height: 2.5;
                font-weight: $fnt-regular;
                color: $clr-dark;
                text-transform: capitalize;
                display: inline-block;
                &:hover {
                    color: $clr-default;
                }
            }
            h3 {
                font-weight: $fnt-bold;
                &:hover {
                    color: $clr-dark;
                }
            }
        }
    }
    .contact-info {
        font-size: 11px;
        line-height: 14px;
        font-weight: $fnt-regular;
        color: $clr-base;
        margin-bottom: 10px;
        word-wrap: break-word;
        .title {
            font-weight: $fnt-bold;
            text-transform: capitalize;
        }
        p {
            font-size: 12px;
            line-height: 18px;
        }
        a {
            cursor: pointer;
            color: $clr-default;
            text-transform: none;
            font-size: 12px;
            line-height: 18px;
        }
    }
    .copyrights {
        font-size: 1.2rem;
        line-height: 2.5;
        color: $clr-base;
        margin-bottom: 0;
        display: block;
        text-transform: capitalize;
    }
    .grid {
        display: flex;
        justify-content: space-evenly;
        border-bottom: 1px solid $clr-border;
        .item {
            width: 20%;
            .contact-info {
                li {
                    margin-bottom: 8px;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
    .social-media-wrap {
        margin: 0.5rem 0;
        .item {
            display: inline-block;
            margin-right: 2rem;
            &:last-child {
                margin-right: 0;
            }
        }
        .social-icon {
            font-size: 3rem;
            color: $clr-dark;
            display: inline-block;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-footer {
        .footer-top {
            padding: 30px 20px 0;
            .grid {
                padding-bottom: 30px;
            }
        }
        .footer-mid,
        .footer-bottom {
            padding: 30px 20px;
        }
        .footer-mid,
        .footer-bottom {
            .lhs,
            .rhs {
                float: none;
                display: block;
            }
            .lhs {
                margin-bottom: 20px;
            }
        }
        .footer-bottom {
            .lhs,
            .rhs {
                text-align: center;
            }
            .rhs {
                .copyrights {
                    margin-right: 0;
                }
            }
        }
        .quick-linkSs {
            display: none;
        }
        .grid {
            text-align: center;
            .item {
                display: none;
                &:last-child {
                    width: 100%;
                    display: block;
                }
                .contact-info {
                    li {
                        margin-bottom: 20px;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .social-media-wrap {
            text-align: center;
            margin: 30px 0 0;
        }
        .support-wrap {
            .img-list {
                .item {
                    margin-right: 0;
                    width: 25%;
                    text-align: center;
                }
            }
        }
    }
}