//bs-orders
.bs-orders {
    .ol-item {
        margin-bottom: 2.5rem;
        border: 0.1rem solid $clr-border;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .oi-head {
        padding: 1.9rem 3.8rem;
        background: #fcfcfc;
    }
    .head-details {
        li {
            display: inline-block;
            margin-right: 4rem;
            position: relative;
            &:last-child {
                margin-right: 0;
                &:after {
                    content: none;
                }
            }
            &:first-child {
                p {
                    color: $clr-dark;
                    font-weight: $fnt-bold;
                }
            }
            &:after {
                content: '';
                position: absolute;
                width: 0.1rem;
                top: 0;
                bottom: 0;
                right: -2rem;
                background: $clr-base;
            }
        }
        p {
            margin-bottom: 0;
            font-size: 1.4rem;
            line-height: 1.3;
            color: $clr-base;
            font-weight: $fnt-sm-bold;
        }
    }
    .oi-cont {
        padding: 2rem;
    }
    .o-list {
        .o-item {
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-of-type(5n+1) {
                .pd-img {
                    background: $clr-pallet1;
                }
            }
            &:nth-of-type(5n+2) {
                .pd-img {
                    background: $clr-pallet2;
                }
            }
            &:nth-of-type(5n+3) {
                .pd-img {
                    background: $clr-pallet3;
                }
            }
            &:nth-of-type(5n+4) {
                .pd-img {
                    background: $clr-pallet4;
                }
            }
            &:nth-of-type(5n+5) {
                .pd-img {
                    background: $clr-pallet5;
                }
            }
        }
    }
    .mod-cart-pd {
        .pd-detail {
            padding: 0 2rem;
            .title-wrap {
                padding-right: 0;
                .pd-title {
                    font-size: 1.4rem;
                    font-weight: $fnt-sm-bold;
                }
                .bs-amount {
                    .amount-val {
                        font-size: 1.4rem;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
    .mod-progress {
        margin-bottom: 2.5rem;
    }
    .action-wrap {
        .btn {
            display: block;
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-orders {
        .oi-head {
            padding: 1rem 2rem;
        }
        .head-details {
            li {
                display: block;
                margin-right: 0;
                margin-bottom: 1rem;
                &:last-child {
                    margin-bottom: 0;
                    margin-top: 2rem;
                    p {
                        position: relative;
                        span {
                            position: absolute;
                            right: 0;
                            font-size: 1.5rem;
                            font-weight: $fnt-bold;
                        }
                    }
                }
                &:after {
                    content: none;
                }
            }
        }
        .action-wrap {
            margin-top: 4rem;
            overflow: hidden;
            .btn {
                padding: 1rem;
                width: 47%;
                display: inline-block;
                margin-left: 1rem;
                margin-bottom: 0;
                float: right;
                &:last-child {
                    margin-left: 0;
                }
            }
        }
        .o-list {
            margin-bottom: 4rem;
        }
    }
}