//bs-order-details
.bs-order-details {
    .title {
        font-size: 2.5rem;
        line-height: 1.3;
        font-weight: $fnt-sm-bold;
        text-transform: capitalize;
        margin-bottom: 2.5rem;
        color: $clr-dark;
    }
    .od-list {
        >li {
            margin-bottom: 4rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .mod-data-list {
        dt,
        dd {
            font-size: 1.4rem;
            line-height: 1.3;
        }
        dl {
            &:last-child {
                margin-top: 1rem;
                padding-top: 1rem;
                border-top: 1px solid $clr-border;
                dt,
                dd {
                    font-size: 1.6rem;
                    font-weight: $fnt-bold;
                }
            }
        }
    }
    .mod-add-card {
        border: none;
        border-radius: 0;
        min-height: auto;
        address {
            strong {
                font-size: 1.6rem;
                line-height: 1.3;
                display: inline-block;
                margin-bottom: 1rem;
            }
            span {
                font-size: 1.4rem;
                line-height: 1.3;
                display: block;
            }
        }
    }
}