//bs-view
.bs-view {
    .view-wrap {
        height: 40rem;
        margin-bottom: 1rem;
        background: $clr-pallet1;
        text-align: center;
        padding: 2rem;
        img {
            width: 70%;
        }
        .swiper-slide {
            padding: 2rem;
        }
    }
    .view-item-list {
        display: flex;
        justify-content: space-between;
        .view-item {
            width: 9rem;
            height: 9rem;
            background: $clr-pallet1;
            padding: 2rem;
            position: relative;
            text-align: center;
            overflow: hidden;
            img {
                width: 100%;
            }
            .view-link {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 1;
                transition: all 0.3s ease;
                border: 1px solid transparent;
                &.active {
                    border-color: $clr-default;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-view {
        position: relative;
        .view-wrap {
            height: 92vw;
            img{
                width: 80%;    
            }
        }
        .view-item-list {
            .view-item {
                width: 6rem;
                height: 6rem;
                padding: 1rem;
            }
        }
        .pd-btn-like {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}