//bs-otp
.bs-otp {
    text-align: center;
    .input-group {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 22rem;
        margin: 0 auto;
        margin-bottom: 4rem;
        .form-control {
            width: 15%;
            text-align: center;
            font-size: 3rem;
            padding: 1rem 0.5rem;
            height: 5rem;
        }
    }
    .otp-title {
        font-size: 2.5rem;
        line-height: 1.3;
        color: $clr-dark;
        font-weight: $fnt-sm-bold;
        margin-bottom: 4rem;
    }
}