//bs-wishlist
.bs-wishlist {
    position: relative;
    .w-item {
        margin-bottom: 3rem;
        &:last-child {
            border-bottom: none;
        }
        &:nth-of-type(5n+1) {
            .bs-product {
                background: $clr-pallet1;
            }
        }
        &:nth-of-type(5n+2) {
            .bs-product {
                background: $clr-pallet2;
            }
        }
        &:nth-of-type(5n+3) {
            .bs-product {
                background: $clr-pallet3;
            }
        }
        &:nth-of-type(5n+4) {
            .bs-product {
                background: $clr-pallet4;
            }
        }
        &:nth-of-type(5n+5) {
            .bs-product {
                background: $clr-pallet5;
            }
        }
    }
    .pd-btn-like {
        font-size: 2rem;
        color: #ff0000;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;
        background-size: cover;
        transition: none;
        z-index: 2;
        padding: 1rem 2rem;
    }
    .bs-product {
        &:hover {
            .pd-action {
                z-index: 3;
                opacity: 1;
                border-color: $clr-border;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-wishlist {
        .pd-btn-like {
            padding: 1rem;
            font-size: 1.5rem;
        }
        .bs-product {
            >.pd-action {
                .action-wrap {
                    .btn:first-child {
                        display: inline-block;
                    }
                }
            }
            &:hover {
                .pd-action {
                    border-color: transparent;
                }
            }
        }
    }
}