//bs-payment
.bs-payment {
    padding: 5rem 2rem 3rem 2rem;
    background: $clr-root;
    border: 1px solid $clr-default;
    text-align: center;
    .icon {
        width: 8rem;
        height: 8rem;
        display: inline-block;
        background-size: cover;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-color: transparent;
        margin-bottom: 1.5rem;
        &.icon-cod {
            background-image: url('../images/cod.svg');
        }
        &.icon-online {
            background-image: url('../images/online.svg');
        }
    }
    .payment-title {
        font-size: 1.8rem;
        line-height: 1.3;
        color: $clr-dark;
        font-weight: $fnt-sm-bold;
        margin-bottom: 2.5rem;
    }
    .payment-desc {
        margin-bottom: 3rem;
        p {
            margin-bottom: 0;
        }
    }
    .btn-default {
        width: 90%;
        font-size: 2rem;
        font-weight: $fnt-sm-bold;
        padding: 1.5rem 2rem;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-payment {
        padding: 3rem 2rem;
        .icon {
            width: 6rem;
            height: 6rem;
        }
        .payment-title {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }
        .payment-desc {
            margin-bottom: 2rem;
        }
    }
}