// bs-usp
.bs-usp {
    padding: 4rem 0 5rem;
    .usp-list {
        margin: 0 -0.7rem;
        .mod-usp {
            position: relative;
        }
        .item {
            padding: 0 0.7rem;
            &:nth-of-type(2) {
                .mod-usp {
                    padding-top: 18rem;
                    .info-wrap {
                        position: absolute;
                        padding-top: 4rem;
                        top: 0;
                    }
                }
            }
        }
    }
    .quality-wrap {
        padding-top: 10rem;
        .quality-list {
            padding: 3.8rem 0;
        }
        .title-wrap {
            padding-left: 4rem;
        }
        .title {
            font-size: 6rem;
            line-height: 6.4rem;
            color: $clr-dark;
            margin-bottom: 4rem;
            .cm-cursive {
                font-size: 5rem;
                line-height: 5rem;
                margin-left: -2rem;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-usp {
        padding-bottom: 4rem;
        .usp-list {
            .item {
                &:nth-of-type(2) {
                    .mod-usp {
                        padding-top: 0;
                        .info-wrap {
                            position: static;
                            padding-top: 1.5rem;
                        }
                    }
                }
            }
        }
        .quality-wrap {
            padding-top: 1.5rem;
            .title-wrap {
                padding-left: 0;
                text-align: center;
                .btn {
                    display: inline-block;
                }
            }
            .title {
                font-size: 2.6rem;
                line-height: 3rem;
                margin-bottom: 2rem;
                text-align: center;
                .cm-cursive {
                    font-size: 3.5rem;
                    line-height: 1;
                    margin-left: 0;
                }
            }
            .quality-list {
                padding-bottom: 0;
                .item {
                    width: 50%;
                    margin-bottom: 4rem;
                    float: left;
                    &:last-of-type {
                        margin: 0 auto;
                        clear: both;
                        float: none;
                    }
                }
            }
        }
        .quality-action-wrap {
            text-align: center;
            margin-top: 5rem;
        }
    }
}