// bs-contact
.bs-contact {
    .bs-form {
        padding: 2.5rem 3rem 3.5rem;
        background: #fbfcfd;
        .form {
            .form-title {
                font-size: 1.8rem;
                line-height: 2.2rem;
                margin-bottom: 2rem;
            }
            .form-group {
                margin-bottom: 3rem;
                .input-label {
                    margin-bottom: 0;
                }
                textarea {
                    margin-top: 1rem;
                    padding: 1rem;
                }
            }
            .form-foot {
                .btn {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    .mod-reach-us {
        padding-top: 3.5rem;
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .bs-contact {
        .bs-form {
            margin-top: 20rem;
        }
        .mod-reach-us {
            padding-left: 3rem;
            margin-bottom: 3rem;
        }
    }
}