//bs-social-grid
.bs-social-grid {
    .sg-wrap {
        margin: 0;
    }
    .sg-item {
        height: 38rem;
        position: relative;
        overflow: hidden;
        border: 0.5rem solid $clr-root;
        .sg-link {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 1;
            &:hover {
                .sg-img {
                    transform: scale(1.05);
                }
            }
        }
        .sg-img {
            width: 100%;
            transition: all 0.3s ease;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-social-grid {
        .sg-item {
            height: 31rem;
            border: none;
        }
        .sg-link {
            &:hover {
                .sg-img {
                    transform: scale(1);
                }
            }
        }
    }
}