//bs-static-cont
.bs-static-cont {
    max-width: 69rem;
    text-align: center;
    margin: 0 auto;
    ul {
        li {
            text-align: left;
            font-weight: $fnt-bold;
            p {
                font-weight: $fnt-light;
            }
        }
        &.typ-num {
            list-style: decimal;
            li {
                list-style: decimal;
                >p {
                    margin-bottom: 1rem;
                }
            }
            .typ-romin {
                list-style: upper-roman;
                li {
                    list-style: upper-roman;
                }
            }
            .typ-bullet {
                list-style: disc;
                li {
                    list-style: disc;
                }
            }
        }
        &.typ-bullet {
            list-style: disc;
            li {
                list-style: disc;
            }
            .typ-num {
                list-style: decimal;
                li {
                    list-style: decimal;
                }
            }
        }
        &.typ-romin {
            list-style: upper-roman;
            li {
                list-style: upper-roman;
            }
        }
    }
    .float-list {
        overflow: hidden;
        padding: 0 1.5rem;
        li {
            float: left;
            width: 30%;
        }
    }
    &.typ-left {
        text-align: left;
    }
    &.typ-large {
        p {
            font-size: 1.8rem;
            line-height: 1.3;
        }
    }
    .highlight {
        font-weight: $fnt-bold;
        margin-bottom: 3rem;
        display: block;
    }
    .bold {
        font-weight: $fnt-bold;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-static-cont {
        max-width: 100%;
        >ul {
            padding-left: 1.5rem;
        }
        &.typ-large {
            p {
                font-size: 1.3rem;
                line-height: 1.3;
            }
        }
        .float-list {
            li {
                width: 100%;
            }
        }
    }
}