//bs-dropdown
.bs-dropdown {
    position: relative;
    .nav-icon {
        padding: 0 1rem;
    }
    .dropdown-title {
        font-size: 1.6rem;
        color: $clr-dark;
        text-transform: capitalize;
        margin-bottom: 1.5rem;
    }
    .dropdown-menu {
        left: 50%;
        transform: translateX(-60%) translateY(2rem);
        position: absolute;
        padding: 2rem;
        width: 25rem;
        border: none;
        -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.18);
        box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.18);
        border-radius: 0;
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1rem 1rem 1rem;
            border-color: transparent transparent #ffffff transparent;
            position: absolute;
            top: -1rem;
            right: 9rem;
        }
    }
    .btn {
        font-size: 1.2rem;
        padding: 0.8rem 2rem;
        margin-right: 1rem;
    }
    &:hover {
        .dropdown-menu {
            opacity: 1;
            visibility: visible;
            transform: translateX(-60%) translateY(1rem);
        }
    }
    .user-link {
        font-size: 1.4rem;
        line-height: 1.3;
        color: $clr-dark;
        transition: all 0.3s ease;
        display: block;
        padding: 0.8rem 0;
        &:hover {
            color: $clr-default;
        }
    }
}