//bs-accordian
.bs-accordian {
    .acc-title {
        font-size: 1.8rem;
        color: $clr-dark;
        font-weight: $fnt-sm-bold;
        padding: 3rem 1rem 2rem;
        display: block;
        position: relative;
        .icon {
            display: inline-block;
            margin-right: 1rem;
            font-size: 1.5rem;
            color: $clr-dark;
            transition: all 0.3s ease;
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: rotate(45deg) translateY(-50%);
            color: $clr-default;
        }
        &.collapsed {
            .icon {
                transform: rotate(0deg) translateY(-50%);
                right: 0;
            }
        }
    }
    .acc-data {
        padding: 0 1rem 1rem 1rem;
    }
    .acc-group {
        border-bottom: 1px solid $clr-border;
    }
    .panel-group {
        border-top: 1px solid $clr-border;
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-accordian {
        .acc-title {
            padding: 2rem 1rem;
        }
    }
}