//bs-info
.bs-info {
    .title {
        font-size: 6rem;
        line-height: 1.2;
        color: $clr-dark;
        text-transform: capitalize;
        margin-bottom: 3rem;
        .cm-cursive {
            font-size: 5rem;
            line-height: 0.5;
            color: $clr-default;
        }
    }
    .desc {
        margin-bottom: 5rem;
        p {
            margin-bottom: 3rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .meta-info {
        display: block;
        font-size: 1.6rem;
        line-height: 1.3;
        font-weight: $fnt-bold;
        margin-bottom: 5rem;
    }
    &.typ-sm {
        margin: 0 auto;
        .desc {
            width: 67rem;
            margin: 0 auto 3rem;
        }
    }
    &.typ-fixed {
        .desc {
            padding: 0 4rem;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-info {
        &.typ-sm {
            margin: 0;
            padding: 0 2rem;
            .desc {
                width: 100%;
                margin-bottom: 3rem;
            }
        }
        .title {
            font-size: 3rem;
            margin-bottom: 1rem;
            .cm-cursive {
                font-size: 3.5rem;
                line-height: 1;
            }
        }
        .desc {
            margin-bottom: 3rem;
            p {
                margin-bottom: 2rem;
            }
        }
        &.typ-fixed {
            .desc {
                padding: 0;
            }
        }
    }
}