//bs-banner
.bs-banner {
    position: relative;
    height: calc(90vh - 7.5rem);
    .banner-media,
    .swiper-container,
    .swiper-wrapper,
    .swiper-slide {
        height: 100%;
        width: 100%;
    }
    .title {
        font-size: 6rem;
        line-height: 0.98;
        color: $clr-root;
        text-transform: capitalize;
        margin-bottom: 2.5rem;
    }
    .banner-desc {
        margin-bottom: 3.5rem;
        p {
            font-size: 1.4rem;
            line-height: 1.5;
            color: $clr-root;
        }
    }
    .banner-cont {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10rem;
        z-index: 2;
        &.typ-black {
            .title,
            .banner-desc p {
                color: $clr-dark
            }
        }
        &.typ-hero {
            .title {
                font-size: 7rem;
                .cm-cursive {
                    color: $clr-default;
                    margin-left: -3rem;
                    font-size: 10rem;
                    line-height: 0.7;
                }
            }
            .banner-desc {
                p {
                    font-size: 2.4rem;
                }
            }
        }
        &.typ-center {
            left: 0;
            right: 0;
            text-align: center;
        }
    }
    &.typ-sm {
        height: 55vh;
        .title {
            margin-bottom: 0;
        }
    }
    .swiper-pagination-bullet-active {
        background: $clr-root;
    }
    .swiper-pagination-bullet {
        background: $clr-root;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets {
        width: 100%;
        right: 0;
        left: 0;
    }
    &.typ-half {
        height: calc(66vh - 7.5rem);
    }
    &.typ-slider {
        .swiper-slide {
            position: relative;
            .swiper-link {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .bs-banner {
        height: calc(90vh - 5.6rem);
        .title {
            font-size: 3rem;
            margin-bottom: 0.6rem;
        }
        .banner-cont {
            top: auto;
            transform: translateY(0);
            left: 3rem;
            bottom: 8rem;
            &.typ-hero {
                .title {
                    font-size: 4rem;
                    .cm-cursive {
                        font-size: 5rem;
                        margin-left: 0;
                    }
                }
                .banner-desc {
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
        .banner-desc {
            margin-bottom: 2.5rem;
        }
        &.typ-sm {
            height: 35vh;
        }
    }
}
