// mod-reach-us
.mod-reach-us {
    .icon {
        font-size: 3.5rem;
        display: block;
        color: $clr-default;
        margin-bottom: 2.5rem;
    }
    .cont-wrap {
        .title {
            font-size: 1.4rem;
            line-height: 1.8rem;
            margin-bottom: 2rem;
            font-weight: $fnt-bold;
            color: $clr-dark;
        }
        .mod-icon-text {
            .icon {
                font-size: 2rem;
                margin-right: 1.2rem;
                color: $clr-dark;
            }
            .text {
                font-size: 1.4rem;
                line-height: 1.8rem;
                color: $clr-base;
                font-weight: $fnt-light;
                strong {
                    display: block;
                    font-weight: $fnt-bold;
                    color: $clr-dark;
                }
            }
        }
        address {
            margin-bottom: 2rem;
            strong {
                font-size: 1.3rem;
                line-height: 1.7rem;
                display: block;
                color: $clr-dark;
            }
            span {
                display: block;
                font-size: 1.3rem;
                line-height: 1.7rem;
                font-weight: $fnt-light;
            }
        }
        .contact-list {
            .contact-item {
                margin-bottom: 2.5rem;
                &:last-of-type {
                    margin-bottom: 0;
                    .mod-icon-text {
                        .icon {
                            vertical-align: unset;
                        }
                        .text {
                            color: $clr-base;
                        }
                    }
                }
            }
            .mod-icon-text {
                .text {
                    color: $clr-dark;
                    font-weight: $fnt-regular;
                }
            }
        }
    }
}