// mod-icon-text
.mod-icon-text {
    .icon {
        font-size: 6rem;
        display: block;
        margin: 0 auto 3rem;
        color: $clr-default;
        text-align: center;
    }
    .text {
        font-size: 1.6rem;
        line-height: 2rem;
        text-align: center;
        display: block;
    }
    &.typ-inline {
        .icon {
            display: inline-block;
            vertical-align: middle;
            margin-bottom: 0;
        }
        .text {
            vertical-align: middle;
            display: inline-block;
            text-align: initial;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-icon-text {
        .icon {
            font-size: 3.5rem;
            margin-bottom: 1.5rem;
        }
        .text {
            font-size: 1.2rem;
            line-height: 1.6rem;
        }
    }
}