//mod-progress
.mod-progress {
    .progress-item {
        position: relative;
        font-size: 1.3rem;
        line-height: 1.3;
        text-transform: capitalize;
        color: #d6d6d6;
        font-weight: $fnt-sm-bold;
        display: inline-block;
        padding-left: 3rem;
        padding-top: 2rem;
        &:last-child {
            margin-right: 0;
        }
        &:before {
            content: '';
            width: 0.9rem;
            height: 0.9rem;
            border-radius: 100%;
            background: #d6d6d6;
            position: absolute;
            z-index: 2;
            top: 0;
            left: 2.6rem;
        }
        &:after {
            content: '';
            height: 0.1rem;
            width: 9.1rem;
            left: -5.6rem;
            position: absolute;
            top: 0.4rem;
            background: #d6d6d6;
        }
        &:first-child {
            padding-left: 0;
            &:before {
                left: 0;
            }
            &:after {
                content: none;
            }
        }
        &.active {
            &:before,
            &:after {
                background: $clr-default;
            }
            color: $clr-dark;
        }
    }
}