// mod-cart-pd
.mod-cart-pd {
    display: flex;
    .pd-img {
        min-width: 7.5rem;
        width: 25%;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            bottom: 0;
            margin: 0 auto;
            width: 75%;
        }
    }
    .pd-detail {
        padding: 0 3rem;
        .title-wrap {
            padding-right: 2rem;
            .pd-title {
                font-size: 1.6rem;
                line-height: 2rem;
                font-weight: $fnt-bold;
                color: $clr-dark;
                margin-bottom: 0.5rem;
            }
            .bs-amount {
                .amount-val {
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                }
            }
            .net-quantity {
                font-size: 1.4rem;
                line-height: 1.8rem;
                display: block;
                margin-top: 1.8rem;
            }
        }
        .act-wrap {
            overflow: hidden;
            align-self: baseline;
            align-items: center;
            .btn-link {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
            .bs-custom-select {
                width: 7.8rem;
                float: left;
                .select2-choice {
                    height: 3rem;
                    line-height: 3rem;
                    border-color: #979797;
                    .select2-chosen {
                        font-size: 1.2rem;
                    }
                }
            }
            .bs-val-variation {
                float: right;
            }
            .bs-amount {
                float: left;
                line-height: 4.4rem;
                .amount-qty {
                    font-size: 1.4rem;
                    font-weight: $fnt-sm-bold;
                }
            }
        }
        .del-btn {
            .icon {
                font-size: 1.4rem;
            }
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-cart-pd {
        .pd-detail {
            padding: 0 1.5rem;
            .title-wrap {
                .pd-title {
                    font-size: 1.4rem;
                    line-height: 1.8rem;
                }
                .bs-amount {
                    .amount-val {
                        font-size: 1.6rem;
                        line-height: 2rem;
                    }
                }
                .net-quantity {
                    margin-top: 1rem;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }
    }
}