// mod-usp
.mod-usp {
    .img-wrap {
        img {
            width: 100%;
        }
    }
    .info-wrap {
        padding: 2.5rem 2rem;
        .title {
            font-size: 3.6rem;
            line-height: 4rem;
            color: $clr-dark;
            margin-bottom: 1.6rem;
            width: 65%;
            font-weight: $fnt-light;
        }
        .desc {
            font-size: 1.2rem;
            line-height: 1.6rem;
            width: 90%;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-usp {
        .info-wrap {
            padding: 2.5rem 1.5rem;
            .title {
                font-size: 2.8rem;
                line-height: 3.2rem;
                margin-bottom: 0.6rem;
                width: 100%;
            }
            .desc {
                width: 100%;
            }
        }
        .img-wrap {
            height: 32rem;
            overflow: hidden;
        }
    }
}