// mod-data-list
.mod-data-list {
    dl {
        margin-bottom: 1rem;
        display: table;
        font-size: 1.2rem;
        line-height: 1.6rem;
        width: 100%;
        &:last-of-type {
            margin-bottom: 0;
        }
        dt {
            display: table-cell;
            width: 50%;
            vertical-align: middle;
        }
        dd {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            text-align: right;
        }
    }
}