// mod-add-card
.mod-add-card {
    position: relative;
    height: 100%;
    border: 1px solid #979797;
    border-radius: 3px;
    transition: all 0.3s ease;
    &.checked {
        border-color: $clr-default;
    }
    address {
        font-size: 1.4rem;
        line-height: 1.5;
        strong {
            font-weight: $fnt-regular;
            display: block;
            color: $clr-dark;
        }
        span {
            display: block;
            font-weight: $fnt-light;
        }
    }
    .bs-radiobox {
        min-height: 19rem;
        position: relative;
        input[type=radio] {
            +label {
                padding: 1.5rem 4.6rem 5rem;
                .title {
                    font-size: 1.6rem;
                    display: block;
                    margin-bottom: 1.8rem;
                }
                &:before {
                    width: 1.8rem;
                    height: 1.8rem;
                    background: #e2e2e2;
                    border-color: #e2e2e2;
                    top: 1.5rem;
                    left: 1.4rem;
                }
                &:after {
                    width: 1rem;
                    height: 1rem;
                    background: $clr-root;
                    top: 1.9rem;
                    left: 1.8rem;
                }
            }
            &:checked {
                +label {
                    &:before {
                        background: $clr-default;
                        border-color: $clr-default;
                    }
                }
            }
        }
    }
    .btn-link {
        font-size: 1.2rem;
        line-height: 1.6rem;
        position: absolute;
        left: 4.6rem;
        bottom: 1.8rem;
    }
    .action-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1.5rem 2rem;
        .btn-link {
            position: relative;
            left: auto;
            bottom: auto;
            display: inline-block;
            margin-right: 3rem;
            &:after {
                content: "|";
                color: $clr-border;
                font-size: 1.4rem;
                position: absolute;
                right: -2rem;
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child {
                margin-right: 0;
                &:after {
                    content: none;
                }
            }
        }
    }
    .tag {
        position: absolute;
        right: 0;
        top: 1rem;
        font-size: 1rem;
        line-height: 1.3;
        background-color: $clr-dark;
        text-transform: capitalize;
        color: $clr-root;
        padding: 0.5rem 1.2rem;
        display: none;
        &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0.6rem 1.5rem 0;
            border-color: transparent $clr-dark transparent transparent;
            position: absolute;
            top: 0;
            left: -0.6rem;
        }
        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 1.5rem 0.6rem;
            border-color: transparent transparent $clr-dark transparent;
            position: absolute;
            bottom: 0;
            left: -0.6rem;
        }
    }
    &.typ-default {
        .tag {
            display: block;
        }
        .btn-def {
            display: none;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-add-card {
        .bs-radiobox {
            input[type=radio] {
                +label {
                    padding: 1.5rem 3rem 3rem;
                    &:before {
                        width: 1.4rem;
                        height: 1.4rem;
                        left: 0.8rem;
                    }
                    &:after {
                        width: 0.6rem;
                        height: 0.6rem;
                        left: 1.2rem;
                    }
                }
            }
        }
        .btn-link {
            left: 3rem;
            bottom: 1.2rem;
        }
    }
}