//mod-breadcrumbs
.mod-breadcrumbs {
    li {
        display: inline-block;
        margin-right: 1.5rem;
        position: relative;
        &:before {
            content: '>';
            position: absolute;
            right: -1.3rem;
        }
        &:last-child {
            &:before {
                content: none;
            }
        }
        a {
            font-size: 1.2rem;
            line-height: 1.3;
            color: $clr-dark;
            font-weight: $fnt-light;
            text-transform: capitalize;
            &.active {
                color: $clr-grey;
                cursor: no-drop;
            }
        }
    }
}