//mod-note
.mod-note {
    display: block;
    max-width: 60rem;
    text-align: center;
    padding: 1rem 1.5rem;
    background: #fbf2de;
    margin: 1rem auto;
    p {
        font-size: 1.4rem;
        line-height: 1.5;
        color: $clr-base;
        margin-bottom: 0;
        .bold {
            font-weight: $fnt-bold;
            display: block;
        }
    }
    &.typ-transparent {
        background: transparent;
    }
}