// mod-cart
.mod-cart {
    position: relative;
    .icon {
        color: $clr-dark;
        font-size: 1.8rem;
        display: inline-block;
        vertical-align: middle;
    }
    .count {
        font-size: 0.9rem;
        line-height: 1.6rem;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        background: #d80000;
        color: $clr-root;
        text-align: center;
        display: inline-block;
        position: absolute;
        top: -0.8rem;
        right: -0.8rem;
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
    }
    &.add {
        .count {
            opacity: 1;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .mod-cart {
        .icon {
            font-size: 2rem;
        }
    }
}