//lyt-account
.lyt-account {
    .nav-list {
        background: #f2f2f2;
        .nav-link {
            padding: 1.9rem 4.5rem;
            font-size: 1.6rem;
            line-height: 1.3;
            color: $clr-dark;
            font-weight: $fnt-bold;
            transition: all 0.3s ease;
            display: block;
            .icon {
                font-size: 2rem;
                color: $clr-default;
                display: inline-block;
                vertical-align: middle;
                margin-right: 1rem;
            }
            &:hover,
            &.active {
                background: $clr-dark;
                color: $clr-root;
            }
            .count {
                font-weight: $fnt-light;
            }
        }
    }
    .bs-form {
        margin: 0 4rem;
        .form-foot {
            margin-top: 2rem;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-account {
        .bs-form {
            margin: 0;
            padding: 2rem;
        }
        .bs-custom-select {
            margin-bottom: 2rem;
            transition: all 0.3s ease;
            &.typ-sticky {
                padding: 1rem 1.5rem;
                background: $clr-root;
                left: 0;
                right: 0;
                position: fixed;
                top: 5.6rem;
                z-index: 5;
                box-shadow: 0 0 5px #e5e5e5;
            }
        }
    }
}