//lyt-product-listing
.lyt-product-listing {
    .list-wrap {
        margin: 0 -1rem;
    }
    .item {
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: 2rem;
        &:nth-child(5n+1) {
            .bs-product {
                background: $clr-pallet1;
            }
        }
        &:nth-child(5n+2) {
            .bs-product {
                background: $clr-pallet2;
            }
        }
        &:nth-child(5n+3) {
            .bs-product {
                background: $clr-pallet3;
            }
        }
        &:nth-child(5n+4) {
            .bs-product {
                background: $clr-pallet4;
            }
        }
        &:nth-child(5n+5) {
            .bs-product {
                background: $clr-pallet5;
            }
        }
    }
    .bs-product {
        height: 37rem;
        .pd-head {
            padding: 2rem 4rem;
        }
        .pd-img-wrap {
            width: 18rem;
        }
        .pd-btn-like {
            display: none;
        }
        .pd-cont{
            .pd-title{
                font-size: 2rem;
            }
        }
        &:hover {
            .pd-action {
                z-index: 3;
                opacity: 1;
                border-color: $clr-border;
            }
        }
    }
    &.typ-grid4{
        .bs-product{
            .pd-img-wrap{
                width: 16rem;
            }
            .pd-head{
                padding: 4rem 2rem 1rem;
            }
            .pd-cont{
                .pd-title{
                    font-size: 1.8rem;
                    line-height: 2;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-product-listing {
        .bs-product {
            height: 30rem;
            .pd-img-wrap {
                width: 9rem;
            }
            .pd-btn-like {
                display: block;
            }
            &:hover {
                .pd-action {
                    border-color: transparent;
                }
            }
            .pd-head {
                padding: 4.5rem 2rem 0;
            }
            .pd-cont{
                .pd-title{
                    font-size: 1.3rem;
                }
            }
        }
        .item {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
        .list-wrap {
            margin: 0;
        }
        &.typ-grid4{
            .bs-product{
                .pd-img-wrap {
                    width: 9rem;
                }
                .pd-head {
                    padding: 4.5rem 2rem 0;
                }
                .pd-cont{
                    .pd-title{
                        font-size: 1.3rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-xs-breakpoint) {
    .lyt-product-listing {
        .item {
            padding-right: 0.25rem;
            padding-left: 0.25rem;
        }
    }
}