//lyt-product-grid
.lyt-product-grid {
    .pg-tile {
        margin-bottom: 1.5rem;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
    }
    .row {
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
    .pg-tile-wrap {
        .pg-tile {
            &:nth-child(4n+1) {
                .bs-product {
                    background: $clr-pallet2;
                }
            }
            &:nth-child(4n+2) {
                .bs-product {
                    background: $clr-pallet3;
                }
            }
            &:nth-child(4n+3) {
                .bs-product {
                    background: $clr-pallet4;
                }
            }
            &:nth-child(4n+4) {
                .bs-product {
                    background: $clr-pallet5;
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-product-grid {
        .pg-tile-wrap {
            .row {
                margin-right: -1.5rem;
                margin-left: -1.5rem;
            }
            .pg-tile {
                margin-bottom: 3.5rem;
            }
        }
    }
}