//lyt-product-details
@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-product-details {
        &.bs-sec {
            &.sec-first-child {
                padding-top: 0;
            }
        }
    }
}