//lyt-manage-address
.lyt-manage-address {
    .ma-list {
        display: flex;
        align-items: stretch;
        flex-flow: row wrap;
        margin: 0 -1.5rem;
        margin-bottom: 1rem;
        .ma-item {
            max-width: 35rem;
            padding: 0 1.5rem;
            margin-bottom: 3rem;
        }
    }
    .mod-add-card {
        .bs-radiobox {
            input[type=radio] {
                &+label {
                    padding: 1.5rem 2rem 5rem;
                    &:after,
                    &:before {
                        content: none;
                    }
                }
            }
        }
    }
}