//lyt-address
.lyt-address {
    .address-list {
        display: flex;
        align-items: stretch;
        flex-flow: row wrap;
        margin: 0 -1.5rem;
        margin-bottom: 1rem;
        .address-item {
            padding: 0 1.5rem;
            width: 50%;
            margin-bottom: 3rem;
        }
    }
}

@media only screen and (max-width:$mobile-breakpoint) {
    .lyt-address {
        .address-list {
            .address-item {
                width: 100%;
            }
        }
    }
}