//lyt-payment
.lyt-payment {
    padding: 5rem 0;
    .head-wrap {
        text-align: center;
        margin-bottom: 5rem;
    }
    .p-title {
        font-size: 3.5rem;
        line-height: 1.3;
        color: $clr-dark;
        font-weight: $fnt-regular;
        strong {
            display: block;
            font-weight: $fnt-bold;
        }
    }
    .cont-wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 0rem 20rem;
        margin-bottom: 5rem;
        .p-item {
            width: 30rem;
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint) {
    .lyt-payment {
        padding: 2rem 0;
        .head-wrap {
            margin-bottom: 3rem;
        }
        .p-title {
            font-size: 2rem;
        }
        .cont-wrap {
            display: block;
            flex-flow: unset;
            justify-content: unset;
            padding: 0 1rem;
            .p-item {
                display: block;
                width: 100%;
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}